<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Alertify start libs -->
	<!-- JavaScript -->
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
	<!-- Alertify end libs -->
	
	<!-- Bundle start of libs -->
	<div th:include="default :: header"></div>
	<!-- Bundle end of libs -->
	
	<link rel="stylesheet" type="text/css" href="../css/account.css" />
	<script type="text/javascript" src="../js/particles.js"></script>
	<script type="text/javascript" src="../js/download.js"></script>
	<script type="text/javascript" src="../js/setup.js"></script>
	<script type="text/javascript" src="../js/alerts.js"></script>

	<script type="text/javascript">
		/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
		particlesJS.load('particles-js', 'particles.json', function() {
		  console.log('callback - particles.js config loaded');
		});
	</script>

	<script>
		$(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip(); 
		});
	</script>
</head>

<body onload="getAllPrepaidQR(), retriveSetup()">
	<nav th:replace="default :: bar"></nav>

<script>
</script>

	<div th:if="${errorNoUpload != null}" class="alert alert-danger">
		<p th:text="${errorNoUpload}"></p> <a href='/account' style="color: red">Refresh</a>
	</div>
	
	<div th:if="${errorNoAnimalAvailable != null}" class="alert alert-danger">
		<p th:text="${errorNoAnimalAvailable}"></p> <a href='/account' style="color: red">Refresh</a>
	</div>
	
	<div id="particles-js">

		<div id="accountMainDiv" class="container-fluid">
			<div  class="transparencyWithoutPadding" id="window" style="padding:20px">
					<h3>
						<img src="../img/iconoPet75.png" style="width: 38px; height: 38px;">
						<span th:text="#{account.title}">Cuenta</span>
					</h3>
					<hr style="border: 1px solid white !important;">
				<div style="display:flex; padding:20px" id="infoPanelAccount">
					<div id="panelLeft" class="halfCol">
					<h5 style="color:turquoise">User data:</h5>
					<div class="form-group rounded grey-text" style="padding:20px;">
						<div>
							<img class="rounded" th:src="'https://www.gravatar.com/avatar/' + ${user?.gravatar} + '?s=120'">
							<button class="btn btn-sm blue-gradient rounded" onclick="window.location.href='https://gravatar.com'" _target="blank">Gravatar</button>
						</div>
						<small style="color:Gold">* To edit profile image use Gravatar service</small>
					</div>
					
					<div class="form-group">
						<label><i style="color: turquoise" class="fas fa-user"></i> <span th:text="#{account.userlabel}">Nombre de usuario:</span></label>
						<p style="color:LimeGreen" th:text="${user?.name}"></p>
					</div>
	
					<div class="form-group">
						<label><i style="color: turquoise" class="fas fa-envelope"></i>
							<span th:text="#{account.emaillabel}">Email notificaciones:</span></label>
						<p style="color:LimeGreen" th:text="${user?.email}"></p>
						<small style="color:turquoise; text-align: justify;" th:text="#{account.emaillabel.info}">Las notificaciones de mascota incluyen la latitud y longitud de lectura, puede diferir de la casilla de activación donde recibió el código.</small>
					</div>
					
					<div class="form-group">
						<label><i style="color: turquoise" class="fas fa-config"></i>
						<button onclick="window.location.href='/user'" class="btn btn-md btn-primary"><span>Edit public data.</span> <i class="shadow-icon fas fa-edit"></i></button></label>
					</div>
					
					<!--/*/ <th:block th:each="listIterate ,iStat : ${list}"> /*/-->
					<br>
					<div class="form-group">
						<label><i style="color: turquoise" class="fas fa-config"></i>
						<div  th:if="${list[iStat.index]?.expiration} != null"><strong>Expiration day: </strong><span class="text-danger" th:text="${list[iStat.index]?.expiration}"></span></div>
					</div>		
					<!--/*/ </th:block> /*/-->

				</div>
				
				<div>
					<div class="halfCol" style="min-height:100px;">
					<h5 style="color:turquoise">Notifications:</h5>
						<div>
							<ul id="resultNotifications" style="text-align: justify;">
							<li th:if="${user?.owner == null}">You have not updated any contact data yet <a href="/user" style="color:Gold">Edit here</a>.</li>
							<li th:if="${user?.setup?.sendCoordinates != true}">You have <span class="text-danger">disabled</span> the coordinates to your email, Check <span style="color:turquoise">Setup</span>.</li>
							<li th:if="${user?.owner?.telephone1 == ''}"><strong style='color:Gold'>Telephone1</strong> You have not set this contact data yet, it's important to contact you if the pet were founded <a href="/user" style="color:Gold">Edit here</a>.</li>
							<li th:if="${user?.owner?.telephone2 == ''}"><strong style='color:Gold'>Telephone2</strong> You have not set this contact data yet, it's important to contact you if the pet were founded <a href="/user" style="color:Gold">Edit here</a>.</li>
							<li th:if="${user?.owner?.email == ''}"><strong style='color:Gold'>Email</strong> You have not set this contact data yet, it's important to contact you if the pet were founded <a href="/user" style="color:Gold">Edit here</a>.</li>
							<li th:if="${user?.owner?.address == ''}"><strong style='color:Gold'>Address</strong> You have not set this contact data yet, if you don't want specified an exact location just select a public place. <a href="/user" style="color:Gold">Edit here</a></li>
							</ul>
						</div>
					</div>

					<br>

					<div id="config" style="display:flex; flex-direction:column;">
					<h5 style="color:turquoise">Setup options:</h5>
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="templates" onchange="lockTemplates()">
						  <label class="custom-control-label" for="templates">Show/hidde all animal templates (Lock)</label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="qcMolokotech" onchange="quickMolokotechConnect()">
						  <label class="custom-control-label" for="qcMolokotech">Quick connect with Molokotech Devs into the form</label>
						</div>

						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="shareButtons"  onchange="showSharebuttons()">
						  <label class="custom-control-label" for="shareButtons">Share buttons into templates (Anyone can share it)</label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="enableCoordinates" onchange="enableSendCoordinates()">
						  <label class="custom-control-label" for="enableCoordinates"><a href="#" onclick="warningCoordinatesAlert()">Enable</a> coordinates to the email  <span class="text-danger">*</span></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customMessage" onchange="enableEspecialMessage()">
						  <label class="custom-control-label" for="customMessage">Add custom and special message to the top of templates  <span class="text-danger">*</span></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="specialInputs" onchange="enableEspecialInputs()">
						  <label class="custom-control-label" for="specialInputs">Add special inputs for animal<span class="text-danger">*</span></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="showMap" onchange="showLocationMap()">
						  <label class="custom-control-label" for="showMap">Show location map into templates</label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="showFooter" onchange="showFooter()">
						  <label class="custom-control-label" for="showFooter">Show/hide Footer on templates for vision improve</label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="showYoutubeVideo" onchange="showYoutubeVideo()">
						  <label class="custom-control-label" for="showYoutubeVideo">Show/hide YouTube video option into templates</label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="SendRequestVet" disabled>
						  <label class="custom-control-label" for="SendRequestVet">Send encoded request to vets for update Clinic History <span class="text-danger">*</span></label>    <span class="badge badge-sm badge-warning">On develop now</span></label>
						</div>
											
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="prices" disabled>
						  <label class="custom-control-label" for="prices">Allow prices for rodents and fishes  <span class="badge badge-sm badge-warning">On develop now</span></label>
						</div>
						
						<small class="text-danger">* Applies only for animal that could be lost or get vet atemption.</small>
						<small class="text-danger"> Setup saves "Automatically", but only if you have at least a QR code available</small>
	<script>
	function warningCoordinatesAlert(){
		$.alert({
			type:"purple",
			title:"Disable coordinates",
			content:"Why and when.. you have two ways to disable the coordinates, one is using this option and the other is changing the email for any other or just leave in blank, we do not recommend the last option but it works. And the question of why... is because maybe you have your pets safe in your home, and use it to see and admin vaccines or clinic history, so in this case you would'not want get mock coordinates to your email."
		});
	}
	</script>
					<button class="btn btn-md peach-gradient" onclick="tutorial()">Tutorial</button>
					<script>
					function tutorial(){
						$.alert({
							title:"Tutorial how it works",
							content:"<a href='/online-checkout' class='text-primary'>Buy a QR code</a>, or <a href='/temporal-qr' class='text-success'>try one 30 days</a>."+
							"<p>next => <span class='badge badge-sm badge-danger'>Admin Animals</span></p>"+
							"<p>next => <button class='btn btn-sm purple-gradient'>Select Animal</button> => select the one</p>"+
							"<p>next => tap edit Animal => edit <span class='text-success'>this animal</span></p>"+
							"<p>next => Go to the green loop to view the template rendered.</p>"
						});
					} 
					</script>
					</div>
					
					<div>

					
					</div>
					
					</div>
				</div>
				
				<br>

				<div class="form-group">
					<h5 th:text="#{account.controlpanel.title}">Panel de control:</h5>
					<hr style="border: 1px solid white !important;">
				</div>

				<div>
				<!-- FlexBox control panel start -->
<!-- 				<ul id="flexBoxHeader" class="controlPanelHeader bg-dark rounded"> -->
<!-- 					<li> -->
<!-- 						Index -->
<!-- 					</li> -->
<!-- 						QR code -->
<!-- 					<li> -->
<!-- 						Key Email -->
<!-- 					</li> -->
					
<!-- 					<li> -->
<!-- 						Actions -->
<!-- 					</li> -->
					
<!-- 					<li> -->
<!-- 						QR Design -->
<!-- 					</li> -->
					
<!-- 					<li> -->
<!-- 						Clinic History -->
<!-- 					</li> -->
					
<!-- 					<li> -->
<!-- 						Alerts -->
<!-- 					</li> -->
					
<!-- 					<li> -->
<!-- 						M.P.A.T -->
<!-- 					</li> -->
					
<!-- 					<li> -->
<!-- 						Quick select -->
<!-- 					</li> -->
<!-- 				</ul> -->

				<!--/*/ <th:block th:each="listIterate ,iStat : ${list}"> /*/-->
				<div class="controlPanelDiv">
				<ul class="flexAllStretch rounded item bg-light text-success" id="controlPanel" style="width:100%; text-shadow:none;  font-weight:bold">
					<li th:text="${iStat?.count}" ></li>
					<li>
						<a style="color:black;" th:href="@{'/id/'+${list[iStat?.index].id}}" th:id="'idValue'+${iStat?.index}" th:text="${#strings.substring(list[iStat?.index].id,19,24)}"></a>
						<a class="text-secondary" th:onclick="viewId([[${list[iStat?.index].id.toString()}]])">View</a>
					
					</li>
					<li>
						<a class="text-info" th:onclick="viewEmail([[${list[iStat?.index].selledOnline}]])">View email</a>
					</li>
					<li>
						<div>
						<div><a th:href="@{'/id/'+${list[iStat?.index].id}}"><i style="color: LimeGreen" class="fas fa-search" data-toggle="tooltip" title="View template"></i> <span style="color:black">View template</span></a></div>
							<div><a href="#" th:onclick="deleteQr([[${list[iStat?.index].id.toString()}]])"  data-toggle="tooltip" title="Delete QR code"><i class="far fa-trash-alt" style="color:red"></i> <span style="color:black">Delete Code</span></a></div>
							<div><a th:onclick="transferCode([[${list[iStat?.index].id.toString()}]])" href="#"  data-toggle="tooltip" title="Transfer QR code to another User"><i class="fas fa-exchange-alt" style="color:DarkViolet"></i> <span style="color:black">Transfer code</span></a></div>
						</div>
					</li>
					<li>
						<form style="margin:2px auto;  padding:0px" action="#" th:action="@{/download}" th:method="POST" th:object="${prepaidQR}">
							<button style="margin: 0 auto;"  type="submit"  class="btn btn-sm blue-gradient"  data-toggle="tooltip" title="Change logo design and download template"><img th:src="'data:image/png;base64,'+${list[iStat?.index].strBase64}" style="width:45px; height:45px; float:left"></button>
							<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
						</form>
						<button style="margin: 0 auto;" th:onclick="showCode([[${list[iStat?.index].strBase64}]])" class="btn btn-sm  blue-gradient">preview</button>
					</li>
					<li>
						<div>
							<input type="hidden" th:value="${list[iStat?.index].dog}" id="dog" name="dog" />
							<button class="btn buttonMD btn-danger"  data-toggle="tooltip" title="Clinic History (On develop now)"><i class="fas fa-heartbeat shadow-icon"></i></button>
						</div>
						<div style="text-align:center; color:black">Clinic History</div>
					</li>
					<li>
<!-- 					Alert functions start -->
						<button th:onclick="alerts([[${list[iStat?.index].id.toString()}]])" class="btn buttonMD btn-success" data-toggle="tooltip" title="Declare animals in emergency or rescued" style="display:flex">
						<i style="color: white" class="fas fa-exclamation-triangle"></i>
						</button>
						<div style="text-align:center; color:black">Alerts</div>
<!-- 					Alert functions end -->
					</li>
					<li th:switch="${list[iStat?.index].typeAnimal}" style="display:flex; justify-content: space-around">
						
						<div th:case="dog">
							<form style="margin:0px auto;  padding:0px" id="modifyDog"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}"  data-toggle="tooltip" title="Edit Dog"><button class="btn buttonMD btn-primary"><img src="../img/dog.png"></button><input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" /><input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" /><input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'dog'}" id="typeAnimal" name="typeAnimal"  /></form>
							<div style="text-align:center; color:black">Edit dog</div>
						</div>
						
						<div th:case="cat">
							<form style="margin:0px auto;  padding:0px" id="modifyCat"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}" >
								<button class="btn buttonMD btn-warning"  data-toggle="tooltip" title="Edit Cat"><img src="../img/cat.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'cat'}" id="typeAnimal" name="typeAnimal"  />
							</form>
							<div style="text-align:center; color:black">Edit cat</div>
						</div>
						
						<div th:case="horse">
							<form style="margin:0px auto;  padding:0px" id="modifyHorse"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}">
								<button class="btn buttonMD btn-success"  data-toggle="tooltip" title="Edit Horse"><img src="../img/horseshoe.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'horse'}" id="typeAnimal" name="typeAnimal" />
							</form>
						<div style="text-align:center; color:black">Edit horse</div>
						</div>
						
						<div th:case="rat">
							<form style="margin:0px auto;  padding:0px" id="modifyRat"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}" >
								<button class="btn buttonMD btn-info"  data-toggle="tooltip" title="Edit Rodents"><img src="../img/rabbit.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'rat'}" id="typeAnimal" name="typeAnimal" />
							</form>
						<div style="text-align:center; color:black">Edit rodents</div>
						</div>
						
						<div th:case="fish">
							<form style="margin:0px auto;  padding:0px" id="modifyFish"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}">
								<button class="btn buttonMD btn-danger"  data-toggle="tooltip" title="Edit group of fishes"><img src="../img/fish.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'fish'}" id="typeAnimal" name="typeAnimal" />
							</form><span class="mdi mdi-home"></span>
							<div style="text-align:center; color:black">Edit fishes</div>
						</div>
					
					</li>
					<li>
						<button class="btn buttonMD purple-gradient" th:onclick="chooseAnimal([[${list[iStat?.index].id.toString()}]], [[${list[iStat?.index].dog}]], [[${list[iStat?.index].cat}]], [[${list[iStat?.index].horse}]], [[${list[iStat?.index].hamsterFishTank}]], [[${list[iStat?.index].fish}]])"  data-toggle="tooltip" title="Quick Select Animal"><i class="fas fa-paw"></i></button>
						<div style="text-align:center; color:black">Select animal</div>
					</li>
				</ul>
				</div>

				<br>

<!-- Scripts -->
<script th:inline="javascript">
function viewEmail(email){
	$.alert({
		type:"purple",
		title:"<i class='fa fa-envelope' style='color:DarkViolet'></i> Activation E-mail:",
		content:"<html><body><p>"+email+"</p></body></html>"	
	});
}

function showCode(strBase64){
	$.alert({
			type:"blue",
			title: "Preview",
			content:"<html><body><div style='text-align:center' ><img src='data:image/png;base64,"+ strBase64+"'</div><div><button class='btn btn-sm blue-gradient' onclick='downloadNowPNG()'>Download Raw</button></div><div><small style='color:deeppink'>* This a raw format with a explicit size, it'not a template ready to print.</small></div></body></html>"
	});
}

function downloadNowPNG(){
	var strBase64 = [[${list[iStat?.index].strBase64}]];
	var id = [[${list[iStat?.index].id.toString()}]];
	
	download( "data:image/png;base64,"+strBase64 ,'pet-qr_' + id + '.png','image/png');
}
	
function getAllPrepaidQR(){
	var xhr = new XMLHttpRequest();
	var url = "/getAllPrepaidQR";
	var resultNotifications = document.getElementById("resultNotifications");
	
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send();
	xhr.onreadystatechange = function () {
		if (xhr.readyState == 4 && xhr.status == 200) {
			var data = xhr.responseText;
			
			var result = JSON.parse(data);
			
			for(var i = 0; i < result.length; i++){

				var dog = result[i].dog;
				var cat = result[i].cat;
				var horse = result[i].horse;
				var hamsterFishTank = result[i].hamsterFishTank;
				var fish = result[i].fish;
				
				if(dog == null && cat == null && horse == null && hamsterFishTank == null && fish == null){
					var li = document.createElement("li");
					li.innerHTML = "You have a QR code without any data animal created";
					resultNotifications.appendChild(li);
					console.log("you have a QR code without without any animals");
				}
			}
		}
	}
}
</script>
<!--/*/ </th:block> /*/-->
<!-- FlexBox control panel end -->				


</script>
				
				<br>
				<br>

				<br> <br> <br> <br>
			</div>
		</div>

	</div>
	</div>
<footer th:replace="default :: footer"></footer>
</body>

</html>