<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Alertify start libs -->
	<!-- JavaScript -->
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
	<!-- Alertify end libs -->
	
	<!-- Bundle start of libs -->
	<div th:include="default :: header"></div>
	<!-- Bundle end of libs -->
	
	<link rel="stylesheet" type="text/css" href="../css/account.css" />
	<script type="text/javascript" src="../js/particles.js"></script>
	<script type="text/javascript" src="../js/download.js"></script>
	<script type="text/javascript" src="../js/setup.js"></script>
	<script type="text/javascript" src="../js/alerts.js"></script>
	<script type="text/javascript" src="../js/parallax.js"></script>

	<script type="text/javascript">
		/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
		particlesJS.load('particles-js', 'particles.json', function() {
		  console.log('callback - particles.js config loaded');
		});
	</script>

	<script>
		$(document).ready(function(){
		  $('[data-toggle="tooltip"]').tooltip(); 
		});
	</script>
<style>
.columnBackground{
	 /* Most sober colors */
	 background-image: -webkit-linear-gradient(-45deg, GhostWhite 0%, GhostWhite 50%,
	 		WhiteSmoke 50%, WhiteSmoke 50%);
	 	background-image: linear-gradient(-45deg, lightgray 0%, lightgray 50%, WhiteSmoke 50%,
	 		WhiteSmoke 50%);
	
	/* 	Too much colors on this code */
	/* 	background: -moz-linear-gradient(-45deg, #F6D6A8 20%, #F5BA55 20%, #F5BA55 40%, #F09741 40%, #F09741 60%, #327AB2 60%, #327AB2 80%, #3A94F6 80%); */
	/*  background: -webkit-linear-gradient(-45deg, #F6D6A8 20%, #F5BA55 20%, #F5BA55 40%, #F09741 40%, #F09741 60%, #327AB2 60%, #327AB2 80%, #3A94F6 80%); */
	/*  background: linear-gradient(-45deg, #F6D6A8 20%, #F5BA55 20%, #F5BA55 40%, #F09741 40%, #F09741 60%, #F5BA55 60%, #F5BA55 80%, #F6D6A8 80%); */
}
</style>

</head>

<body onload="getAllPrepaidQR(), retriveSetup()">
	<nav th:replace="default :: bar"></nav>
	<!-- Parallax start -->
<style>
.parallax-window {
    min-height: 150px;
    background: transparent;
}
</style>
<div class="parallax-window" id="parallaxIndex" data-parallax="scroll" data-image-src="../img/accountParallax.png" style="box-shadow:0px 0px 75px black;"></div>
<!-- Parallax end -->

	<div th:if="${errorNoUpload != null}" class="alert alert-danger">
		<p th:text="${errorNoUpload}"></p> <a href='/account' style="color: red">Refresh</a>
	</div>
	
	<div th:if="${errorNoAnimalAvailable != null}" class="alert alert-danger">
		<p th:text="${errorNoAnimalAvailable}"></p> <a href='/account' style="color: red">Refresh</a>
	</div>
	
<!-- 	<div id="particles-js"> -->

		<div id="accountMainDiv" class="card rounded">
						<h2 class="card-header white-text aqua-gradient">
							<img src="../img/iconoPet75.png" style="width: 50px; height: 50px;">
							<span th:text="#{account.title}">Cuenta</span>
						</h2>
			
			<div style="margin-left:20px; margin-right:20px; padding:10px">
					<div id="window" style="display:flex; justify-content: space-around">
						<div>
							<button class="btn btn-lg blue-gradient" onclick="window.location.href='/online-checkout'" style="text-shadow:1px 1px black;" th:text="#{account.activateqr}"></button>
						</div>
						<div>
							<button class="btn btn-lg purple-gradient" onclick="window.location.href='/temporal-qr'" style="text-shadow:1px 1px black;" th:text="#{account.tryqr}"></button>
						</div>
					</div>
				<hr>

				<!-- PrepiaidQR codes start -->
				<div class="form-group">
					<h5 th:text="#{account.controlpanel.title}"></h5>
				<hr>
				
				</div>

				<div class="d-flex" id="contactButtonDiv">
					<button onclick="window.location.href='/user'" class="btn btn-md btn-info" style="margin: 4px  !important"><span style="text-shadow:1px 1px black;" th:text="#{account.contactdata}"></span> <i class="shadow-icon fas fa-edit"></i></button>
					<div class="alert alert-warning" role="alert" style="border-radius: 3px; border: 1px solid tomato; margin:4px !important;">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<strong th:text="#{account.important}">Importante!: </strong> <span th:text="#{account.important.body}">
					</div>
				</div>
				
				<div>
				<!-- FlexBox control panel start -->
				<!--/*/ <th:block th:each="listIterate ,iStat : ${list}"> /*/-->
				<div class="controlPanelDiv">
				<ul class="flexAllStretch rounded item bg-light zoom text-success columnBackground" id="controlPanel" style="width:100%; text-shadow:none;  font-weight:bold">
					<li th:text="${iStat?.count}"></li>
					<li>
						<a style="color:black;" th:href="@{'/id/'+${list[iStat?.index].id}}" th:id="'idValue'+${iStat?.index}" th:text="${#strings.substring(list[iStat?.index].id,19,24)}"></a>
						<a class="text-secondary" th:onclick="viewId([[${list[iStat?.index].id.toString()}]])" th:text="#{account.code}"></a>
					</li>
					<li>
						<a class="text-info" th:onclick="viewEmail([[${list[iStat?.index].selledOnline}]])" th:text="#{account.email}"></a>
					</li>
					<li>
						<div>
						<div><a th:href="@{'/id/'+${list[iStat?.index].id}}"><i style="color: LimeGreen" class="fas fa-search" data-toggle="tooltip" title="View template"></i> <span style="color:black" th:text="#{account.viewtemplate}">View template</span></a></div>
							<div><a href="#" th:onclick="deleteQr([[${list[iStat?.index].id.toString()}]])"  data-toggle="tooltip" title="Delete QR code"><i class="far fa-trash-alt" style="color:red"></i> <span style="color:black" th:text="#{account.deletecode}">Delete Code</span></a></div>
							<div><a th:onclick="transferCode([[${list[iStat?.index].id.toString()}]])" href="#"  data-toggle="tooltip" title="Transfer QR code to another User"><i class="fas fa-exchange-alt" style="color:DarkViolet"></i> <span style="color:black" th:text="#{account.transfercode}">Transfer code</span></a></div>
							<div><a style="color:black" th:href="@{'https://www.google.com/maps/search/?api=1&query='+${list[iStat?.index].lastLatitude}+','+${list[iStat?.index].lastLongitude}}" target="_blank"><i class="fa fa-map" style="color:blue"></i> <span th:text="#{account.coordinatesreaded}">Last Coordinates readed</span></a></div>
						</div>
						
						<!-- https://www.google.com/maps/search/?api=1&query=36.26577,-92.54324 this format is correct, not the beside-->
						<!-- th:href="@{'https://www.google.com.ar/maps/@'+ ${list[iStat?.index].lastLatitude} +','+ ${list[iStat?.index].lastLongitude + ',18z'}}" this format is not correct, is very gral-->
						
					</li>
					<li>
						<form style="margin:2px auto;  padding:0px" action="#" th:action="@{/download}" th:method="POST" th:object="${prepaidQR}">
							<button style="margin: 0 auto;"  type="submit"  class="btn btn-sm blue-gradient"  data-toggle="tooltip" title="Change logo design and download template"><img th:src="'data:image/png;base64,'+${list[iStat?.index].strBase64}" style="width:45px; height:45px; float:left"></button>
							<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
						</form>
						<button style="margin: 0 auto;" th:onclick="showCode([[${list[iStat?.index].strBase64}]])" class="btn btn-sm  blue-gradient" th:text="#{account.preview}"></button>
					</li>
					
					<li>
						<button class="btn buttonMD purple-gradient" th:onclick="chooseAnimal([[${list[iStat?.index].id.toString()}]], [[${list[iStat?.index].dog}]], [[${list[iStat?.index].cat}]], [[${list[iStat?.index].horse}]], [[${list[iStat?.index].hamsterFishTank}]], [[${list[iStat?.index].fish}]])"  data-toggle="tooltip" title="Quick Select Animal"><i class="fas fa-paw"></i></button>
						<div style="text-align:center; color:black" th:text="#{account.selectanimal}"></div>
					</li>
					<li>
					<li th:switch="${list[iStat?.index].typeAnimal}" style="display:flex; justify-content: space-around">
						
						<div th:case="dog">
							<form style="margin:0px auto;  padding:0px" id="modifyDog"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}"  data-toggle="tooltip" title="Edit Dog"><button class="btn buttonMD btn-primary"><img src="../img/dog.png"></button><input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" /><input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" /><input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'dog'}" id="typeAnimal" name="typeAnimal"  /></form>
							<div style="text-align:center; color:black" th:text="#{account.selectanimal.editdog}"></div>
						</div>
						
						<div th:case="cat">
							<form style="margin:0px auto;  padding:0px" id="modifyCat"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}" >
								<button class="btn buttonMD btn-warning"  data-toggle="tooltip" title="Edit Cat"><img src="../img/cat.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'cat'}" id="typeAnimal" name="typeAnimal"  />
							</form>
							<div style="text-align:center; color:black" th:text="#{account.selectanimal.editcat}"></div>
						</div>
						
						<div th:case="horse">
							<form style="margin:0px auto;  padding:0px" id="modifyHorse"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}">
								<button class="btn buttonMD btn-success"  data-toggle="tooltip" title="Edit Horse"><img src="../img/horseshoe.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'horse'}" id="typeAnimal" name="typeAnimal" />
							</form>
						<div style="text-align:center; color:black" th:text="#{account.selectanimal.edithorse}"></div>
						</div>
						
						<div th:case="rat">
							<form style="margin:0px auto;  padding:0px" id="modifyRat"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}" >
								<button class="btn buttonMD btn-info"  data-toggle="tooltip" title="Edit Rodents"><img src="../img/rabbit.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'rat'}" id="typeAnimal" name="typeAnimal" />
							</form>
						<div style="text-align:center; color:black" th:text="#{account.selectanimal.editrat}"></div>
						</div>
						
						<div th:case="fish"  style="position:relative; top:0; left:0;">
							<form style="margin:0px auto;  padding:0px" id="modifyFish"  action="#" th:action="@{/prepaid-qr}" method="POST" th:object="${prepaidQR}">
								<button class="btn buttonMD btn-danger"  data-toggle="tooltip" title="Edit group of fishes"><img src="../img/fish.png"></button>
								<input type="hidden" th:value="${list[iStat?.index].id}" id="id" name="id" />
								<input type="hidden" th:value="${list[iStat?.index].selledOnline}" id="id" name="selledOnline" />
								<input type="hidden" th:value="${list[iStat?.index].typeAnimal = 'fish'}" id="typeAnimal" name="typeAnimal" />
							</form><span class="mdi mdi-home"></span>
							<div style="text-align:center; color:black" th:text="#{account.selectanimal.editfishes}"></div>
							<span style="position:absolute; left:-5;top:-5;" class="badge badge-lg badge-warning" th:text="#{account.ondevelopmentnow}"></span>
						</div>
					</li>
					<li>
<!-- 					Alert functions start -->
						<button th:onclick="alerts([[${list[iStat?.index].id.toString()}]])" class="btn buttonMD btn-success" data-toggle="tooltip" title="Declare animals in emergency or rescued" style="display:flex">
						<i style="color: white" class="fas fa-exclamation-triangle"></i>
						</button>
						<div style="text-align:center; color:black" th:text="#{account.alerts}"></div>
<!-- 					Alert functions end -->
					</li>
					<li>
						<div style="position:relative; top:0; left:0;">
							<input type="hidden" th:value="${list[iStat?.index].dog}" id="dog" name="dog" />
							<button class="btn buttonMD btn-danger"  data-toggle="tooltip" title="Clinic History (On develop now)"><i class="fas fa-heartbeat shadow-icon"></i></button>
							<span style="position:absolute; left:-5;top:-5;" class="badge badge-lg badge-warning" th:text="#{account.ondevelopmentnow}"></span>
						</div>
						<div style="text-align:center; color:black" th:text="#{account.clinicalhistory}"></div>
					</li>
				</ul>
				</div>

				<br>

<!-- Scripts -->
<script th:inline="javascript">
function viewEmail(email){
	$.alert({
		type:"purple",
		title:"<i class='fa fa-envelope' style='color:DarkViolet'></i> Activation E-mail:",
		content:"<html><body><p>"+email+"</p></body></html>"	
	});
}

function showCode(strBase64){
	$.alert({
			type:"blue",
			title: "Preview",
			content:"<html><body><div style='text-align:center' ><img src='data:image/png;base64,"+ strBase64+"'</div><div><button class='btn btn-sm blue-gradient' onclick='downloadNowPNG()'>Download Raw</button></div><div><small style='color:deeppink'>* This a raw format with a explicit size, it'not a template ready to print.</small></div></body></html>"
	});
}

function downloadNowPNG(){
	var strBase64 = [[${list[iStat?.index].strBase64}]];
	var id = [[${list[iStat?.index].id.toString()}]];
	
	download( "data:image/png;base64,"+strBase64 ,'pet-qr_' + id + '.png','image/png');
}
	
function getAllPrepaidQR(){
	var xhr = new XMLHttpRequest();
	var url = "/getAllPrepaidQR";
	var resultNotifications = document.getElementById("resultNotifications");
	
	xhr.open("GET", url, true);
	xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhr.send();
	xhr.onreadystatechange = function () {
		if (xhr.readyState == 4 && xhr.status == 200) {
			var data = xhr.responseText;
			
			var result = JSON.parse(data);
			
			for(var i = 0; i < result.length; i++){

				var dog = result[i].dog;
				var cat = result[i].cat;
				var horse = result[i].horse;
				var hamsterFishTank = result[i].hamsterFishTank;
				var fish = result[i].fish;
				
				if(dog == null && cat == null && horse == null && hamsterFishTank == null && fish == null){
					var li = document.createElement("li");
					li.innerHTML = "You have a QR code without any data animal created";
					resultNotifications.appendChild(li);
					console.log("you have a QR code without without any animals");
				}
			}
		}
	}
}
</script>
<!--/*/ </th:block> /*/-->
<!-- FlexBox control panel end -->				


<!-- </script> -->
</div>
</div>
</div>
<!-- PrepiaidQR codes start -->
				<br><br>
				<!-- Info user start -->
				<div class="card rounded" id="setupContainer">
				<h2 class="card-header text-white aqua-gradient" th:text="#{account.setup.title}"></h2>
				<div style="display:flex; margin:40px" id="infoPanelAccount">
				
					<div id="panelLeft" class="halfCol">
					<h5 th:text="#{account.user.title}"></h5>
					<div class="form-group rounded grey-text" style="">
						<div>
							<img style="box-shadow:0px 0px 15px black" class="rounded" th:src="'https://www.gravatar.com/avatar/' + ${user?.gravatar} + '?s=120'">
							<button class="btn btn-sm blue-gradient rounded" onclick="window.location.href='https://gravatar.com'" _target="blank">Gravatar</button>
						</div>
						<br>
					
						<small style="color:red" th:text="#{account.gravatar.advice}">* To edit profile image use Gravatar service</small>
					</div>
					
					<div class="form-group">
						<label><i class="fas fa-user text-primary"></i> <span th:text="#{account.user.label}"></span></label>
						<div><i class="fa fa-arrow-right text-danger"></i> <span style="color:RebeccaPurple" th:text="${user?.name}"></span></div>
					</div>
	
					<div class="form-group">
						<label><i class="fas fa-envelope text-primary"></i>
						<span th:text="#{account.email.label}">Email notificaciones:</span></label>
						<div><i class="fa fa-arrow-right  text-danger"></i> <span style="color:RebeccaPurple" th:text="${user?.email}"></span></div>
						<br>
						<small class="text-primary" style="text-align: justify; font-weight: bold" th:text="#{account.user.advice}">Las notificaciones de mascota incluyen la latitud y longitud de lectura, puede diferir de la casilla de activación donde recibió el código.</small>
					</div>
					
					<!--/*/ <th:block th:each="listIterate ,iStat : ${list}"> /*/-->
					<br>
					
					<div class="form-group">
						<label><i style="color: turquoise" class="fas fa-config"></i>
						<div  th:if="${list[iStat.index]?.expiration} != null"><strong th:text="#{account.expiration}"></strong><span class="text-danger" th:text="${list[iStat.index]?.expiration}"></span></div>
					</div>		
					<!--/*/ </th:block> /*/-->

				</div>
				
				<div>
					<div class="halfCol rounded" style="min-height:100px; background-color: rgba(200,200,200,0.3); padding:10px;">
					<h5 th:text="#{account.notifications}"></h5>
						<div>
							<ul id="resultNotifications" style="text-align: justify;">
							<li th:if="${user?.owner == null}"> <span th:text="#{account.notupdatedcontactdata}"></span> <a href="/user" class="text-danger" style="text-shadow: 1px 1px black" th:text="#{account.edithere}"></a>.</li>
							<li th:if="${user?.setup?.sendCoordinates != true}"><span th:text="#{account.coordinatesdisabled}"></span><span style="color:turquoise; text-shadow: 1px 1px black" th:text="#{account.setup.title}"></span>.</li>
							<li th:if="${user?.owner?.telephone1 == ''}"> <strong class="text-danger" style="text-shadow: 1px 1px black" th:text="#{account.telephone1}"></strong><span th:text="#{account.nodatasetted}"> </span> <a href="/user" style="color:LimeGreen; text-shadow: 1px 1px black" th:text="#{account.edithere}"></a>.</li>
							<li th:if="${user?.owner?.telephone2 == ''}"> <strong class="text-danger" style="text-shadow: 1px 1px black" th:text="#{account.telephone2}"></strong><span th:text="#{account.nodatasetted}"> </span> <a href="/user" style="color:LimeGreen; text-shadow: 1px 1px black" th:text="#{account.edithere}"></a>.</li>
							<li th:if="${user?.owner?.email == ''}"><strong class="text-danger">Email</strong><span th:text="#{account.nodatasetted}"></span> <a href="/user" style="color:Gold; text-shadow: 1px 1px black" th:text="#{account.edithere}"></a>.</li>
							<li th:if="${user?.owner?.address == ''}"><strong class="text-danger" th:text="#{account.address"}></strong><span th:text="#{account.nodatasetted}"> </span> <a href="/user" style="color:LimeGreen; text-shadow: 1px 1px black" th:text="#{account.edithere}"></a></li>
							</ul>
						</div>
					</div>

					<br>

					<div id="config" style="display:flex; flex-direction:column;">
					<h5 th:text="#{account.options}"></h5>
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="templates" onchange="lockTemplates()">
						  <label class="custom-control-label" for="templates" th:text="#{account.showhiddetemplate}">Show/hidde all animal templates (Lock)</label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="qcMolokotech" onchange="quickMolokotechConnect()">
						  <label class="custom-control-label" for="qcMolokotech" th:text="#{account.connectwithmolokotech}">Quick connect with Molokotech Devs into the form</label>
						</div>

						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="shareButtons"  onchange="showSharebuttons()">
						  <label class="custom-control-label" for="shareButtons" th:text="#{account.sharebuttons}">Share buttons into templates (Anyone can share it)</label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="enableCoordinates" onchange="enableSendCoordinates()">
						  <label class="custom-control-label" for="enableCoordinates"  th:text="#{account.coordinatestoemail}"><a href="#" onclick="warningCoordinatesAlert()" style="color:blue">Enable</a> coordinates to the email  <span class="text-danger">*</span></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="customMessage" onchange="enableEspecialMessage()">
						  <label class="custom-control-label" for="customMessage" th:text="#{account.custommessage}"><span class="text-danger">*</span></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="specialInputs" onchange="enableEspecialInputs()">
						  <label class="custom-control-label" for="specialInputs"  th:text="#{account.addspecialinput}"><span class="text-danger">*</span></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="showMap" onchange="showLocationMap()">
						  <label class="custom-control-label" for="showMap"   th:text="#{account.showmap}"></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="showFooter" onchange="showFooter()">
						  <label class="custom-control-label" for="showFooter" th:text="#{account.showfooter}"></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="showYoutubeVideo" onchange="showYoutubeVideo()">
						  <label class="custom-control-label" for="showYoutubeVideo" th:text="#{account.showvideo}"></label>
						</div>
						
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="SendRequestVet" disabled>
						  <label class="custom-control-label" for="SendRequestVet" th:text="#{account.sendclinichistorytovet}"></label> <span class="badge badge-sm badge-primary" th:text="#{account.ondevelopmentnow}"></span></label>
						</div>
											
						<!-- Default switch -->
						<div class="custom-control custom-switch">
						  <input type="checkbox" class="custom-control-input" id="prices" disabled>
						  <label class="custom-control-label" for="prices" th:text="#{account.addpricetorodentsfishes}">Allow prices for rodents and fishes</label><label></label>  <span class="badge badge-sm badge-primary" th:text="#{account.ondevelopmentnow}"></span></label>
						</div>
						
						<small class="text-danger" style=" font-weight: bold" th:text="#{account.onlylostanimal}"></small>
						<small class="text-danger" style=" font-weight: bold" th:text="#{account.setupsavesonlywithqr}"></small>
	<script>
	function warningCoordinatesAlert(){
		$.alert({
			type:"purple",
			title:"Disable coordinates",
			content:"Why and when.. you have two ways to disable the coordinates, one is using this option and the other is changing the email for any other or just leave in blank, we do not recommend the last option but it works. And the question of why... is because maybe you have your pets safe in your home, and use it to see and admin vaccines or clinic history, so in this case you would'not want get mock coordinates to your email."
		});
	}
	</script>
					<button class="btn btn-md blue-gradient" onclick="tutorial()">Tutorial</button>
					<script>
					function tutorial(){
						$.alert({
							title:"Tutorial how it works",
							content:"<a href='/online-checkout' class='text-primary'>Buy a QR code</a>, or <a href='/temporal-qr' class='text-success'>try one 30 days</a>."+
							"<p>next => <span class='badge badge-sm badge-danger'>Admin Animals</span></p>"+
							"<p>next => <button class='btn btn-sm purple-gradient'>Select Animal</button> => select the one</p>"+
							"<p>next => tap edit Animal => edit <span class='text-success'>this animal</span></p>"+
							"<p>next => Go to the green loop to view the template rendered.</p>"
						});
					} 
					</script>
					</div>
					
					<div>

					
				</div>
			</div>
		</div>
	</div>
				<!-- Info user End -->
				<br>
			
	</div>
				
				<div id="particles-js"></div>
<footer th:replace="default :: footer" style="bottom:0;"></footer>
</body>

</html>