<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="default :: header"></div>
<!-- 	<link rel="stylesheet" type="text/css" href="../css/create-prepaid-qr.css" /> -->
	<link rel="stylesheet" type="text/css" href="../css/base.css" />
	<link rel="stylesheet" type="text/css" href="../css/croppie.css" />
	<script type="text/javascript" src="../js/avatar.js"></script>
	<script type="text/javascript" src="../js/croppie.js"></script>
	<script type="text/javascript" src="../js/croppie.min.js"></script>
</head>

<body onload="retrivePrepaidQR()">

	<nav th:replace="default :: bar"></nav>

		<div class="page-container">
		
		<div class="container-fluid">
		
		<div id="dataCreatePrepaidQR" class="card background-colors" >
			<h2 style="text-align: center" class="card-header secondary-color white-text text-center py-4"><button class="btn rounded btn-info" style="float:left" onclick="window.location.href='/account'"><i class="fas fa-angle-left"></i></button><div> M.P.A.T</div></h2>
			<div th:switch="${prepaidQR.typeAnimal}">
				<div th:case="dog">
					<img class="card-img-top" src="../img/bannerDog.jpg" alt="Card image cap">
				</div>
				<div th:case="cat">
					<img class="card-img-top" src="../img/catBanner.jpg" alt="Card image cap">
				</div>
				<div  th:case="horse">
					<img class="card-img-top" src="../img/horseBanner.jpg" alt="Card image cap">
				</div>
				<div th:case="rat">
					<img class="card-img-top" src="../img/ratBanner.jpg" alt="Card image cap">
				</div>
				<div th:case="fish">
					<img class="card-img-top" src="../img/fishBanner.jpg" alt="Card image cap">
				</div>
			</div>
			
			
			<br>
			
			<div id="body">
			
			<div style="padding:20px; margin:20px;" id="mainForm"  class="white-transparency rounded">
			
			<!-- Needed to identify the id to update to -->
			<div class="form-group">
				<label for="idPrepaidQrCode" th:text=#{create-prepaid-qr.activationcodelabel}>El código de activación es:</label>
					<p id="idPrepaidQrCode" class="text-secondary" th:text="${prepaidQR.id}"></p>
			</div>

			<!-- Needed to update the name of the username -->
			<div class="form-group">
				<Label for="user" th:text=#{create-prepaid-qr.assigneduser}>Asignado a usuario:</label>
				<p id="user" class="text-secondary" th:text="${currentUser}"></p>
			</div>


			<!-- Type of animalFragment start -->
				<div th:switch="${prepaidQR.typeAnimal}">
					<div th:case="fish">
						<br>
						<div th:replace="fishes :: fishFragment"></div>
					</div>
					<div th:case="horse">
						<br>
						<script>
							retrivePrepaidQrHorse();
						</script>
						<div th:replace="horse :: horseFragment"></div>
					</div>
					<div th:case="dog">
						<br>
						<script>
							retrivePrepaidQrDog();
						</script>
						<div th:replace="dog :: dogFragment"></div>
					</div>
					<div th:case="cat">
						<br>
						<script>
							retrivePrepaidQrCat();
						</script>
						<div th:replace="cat :: catFragment"></div>
					</div>
					<div th:case="rat">
						<br>
						<script>
							retriveHamsterFishTank();
						</script>
					<div th:replace="rat :: ratFragment"></div>
					</div>
				</div>
			<!-- Type of animalFragment end -->
			
			<br><br><br>
			
			<div th:if="${user.setup.showQuickConnectMolokotech} == true">
			
			<!-- Moloko connect -->			
			<div class="card">
				<h3 class="card-header aqua-gradient">Quick connect with Moloko devs</h3>
				<div id="bodyCard" style="padding:30px">
					<div class="form-group">
					<label th:text="${'User: ' + currentUser}"></label><br>
					<label th:text="${'Email: ' + prepaidQR?.selledOnline}"></label><br>
					<textarea style="width:100%" placeholder="Write here your sugerence"></textarea>
					</div>
				<small>If you need a special input and is a releable make a sugerence to add to the platform, we could do it between a few days or a month.</small>
				</div>
			</div>
			<!-- Moloko connect -->
			
			</div>
	</div>
			<br> <br> <br> <br> <br> <br>
			
			</div>
			
			</div>
			
			</div>
			
		</div>
	
	<!--Template footer-->
	<footer th:replace="default :: footer">
	</footer>
</body>

</html>