<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/db-lost-pet.css" />
</head>

	<body style="height:100%;">
		<nav th:replace="default :: bar"></nav>
	
		<div class="container">
			<div class="container-fluid" id="lostPetContainer" style="height:100vh; padding:20px;">
				<div class="transparencyWithoutPadding">
				<h2 style="padding:20px;" th:text="#{db.title}"></h2>
				
				<p  style="margin:20px;" th:text="#{db.description}"></p>
	
				<div th:if="${list} != null" id="tableContainer" class="container-fluid">
					<table id="lostTable" class="table table-dark table-responsive table-striped rounded">
						<thead>
							<tr><td th:text="#{db.table.profile}">Perfil</td>
								<td th:text="#{db.table.id}">Ult. dig. id</td>
								<td th:text="#{db.table.sex}">Sexo</td>
								<td th:text="#{db.table.name}">Nombre</td>
								<td th:text="#{db.table.raze}">Raza</td>
								<td th:text="#{db.table.birthday}">Nacimiento</td>
								<td th:text="#{db.table.medicated}">Medicado</td>
								<td th:text="#{db.table.illness}">Enfermedad</td>
								<td th:text="#{db.table.food}">Marca Comida</td>
								<td th:text="#{db.table.country}">País</td>
							</tr>
						</thead>
						<th:block th:each="listIterate : ${list}"
							th:if="${listIterate?.pet?.status}  == false">
						<tbody>
							<tr>
								<td><img th:if="${listIterate?.resultBase64Avatar != null}" alt="Perfil" id="profile" onmouseover="changeCursorToimagesDB(this)" th:onclick="viewImage([[${listIterate?.resultBase64Avatar}]])" th:src="${listIterate?.resultBase64Avatar}" style="height:45px"><img th:unless="${listIterate?.resultBase64Avatar != null}" alt="Perfil" id="profile" onmouseover="changeCursorToimagesDB(this)" th:onclick="viewImage([[${listIterate?.resultBase64Avatar}]])" src="../img/withoutPhoto.png" style="height:45px"></td>
								<td th:text="${#strings.substring(listIterate.id, 19, 24)}"></td>
								<td th:text="${listIterate?.pet?.sex}"></td>
								<td th:text="${listIterate?.pet?.petName}"></td>
								<td th:text="${listIterate?.pet?.raze}"></td>
								<td th:text="${listIterate?.pet?.age}"></td>
								<td th:if="${listIterate?.pet?.medicated} == true">Si</td>
								<td th:unless="${listIterate?.pet?.medicated} == true">No</td>
								<td th:text="${listIterate?.pet?.illness}"></td>
								<td th:text="${listIterate?.pet?.foodBrand}"></td>
								<td th:text="${listIterate?.owner?.residence}"></td>
							<!-- Search script manually start -->		
							<script th:inline="javascript">
								function findManuallyId(){
									var idManually = document.getElementById("idManually").value;
									window.location.href = "https://pet-qr.com/id/"+ idManually;
								}
								
								function viewImage(id){
									$.alert({
										type:"red",
										theme:"dark",
										columnClass:"col-xs-4",
										title:'Perdido/a:  ' + [[${listIterate?.pet?.petName}]],
										content: "<html><body><div style='text-align:center'><img alt="+ [[${listIterate?.pet?.petName}]] +" src="+id+" /></div></body></html>"
									});
								}
								
								function changeCursorToimagesDB(id){
									console.log(id);
									var avatarOnDB = document.getElementById("profile");
									avatarOnDB.style.cursor = "pointer";

									
								}
							</script>
							<!-- Search script manually end -->
							</tr>
						</tbody>
					</table>
					
				
				<br>
					
				<h4 th:text="#{db.manualingress.title}"></h4>	
				<p  style="margin:20px;" th:text="#{db.manualingress.description}"></p>
				<label style="color:turquoise; margin:20px;">https://pet-qr.com/id/</label><input id="idManually" type="text" placeholder="Code QR">
				<button class="btn btn-sm btn-success" onclick="findManuallyId()" th:text="#{db.viewbutton}"></button>	
				</th:block>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
				</div>
			</div>
			</div>
		</div>
		<footer th:replace="default :: footer"></footer>
	</body>

</html>