<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:fragment="header">
<meta charset="utf-8">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79204873-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-79204873-3');
</script>

<!-- Meta tags start -->
<meta name="google-site-verification" content="qHGfk3wy2ViO8dbJYqIqH2qse0mrsEzaVGJdihu1gXA" />
<meta name="msvalidate.01" content="78E99D48650540E98A0BE41EB707A33F" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="identifier-url" content="https://pet-qr.com/" />
<meta name="title" content="Pet-QR" />
<meta name="description"
	content="For animal safety, QR codes for pets" />
<meta name="abstract"
	content="Códigos QR online para mascotas en el acto, sin envíos." />
<meta name="keywords" content="tag, dog tag, find pet, find dog, mascota, veterinarias, perro, perro qr, gato qr, qr, pet, code, code qr, pet qr, dog qr, dog, cat, qr tag, tag, dog id, dog tag, pet license, dog license, fema, pet safety, lost dog, lost cat, lost pet, iot, internet of things, search and rescue, sar, qr code, pet identification, veterinarian" />
<meta name="author" content="Pet-QR" />
<meta name="revisit-after" content="15" />
<meta name="language" content="ES" />
<meta name="copyright" content="© 2018 Pet-QR" />
<meta name="robots" content="All" />
<!-- Meta tags end -->

<!-- Favicon start -->
<link rel="apple-touch-icon" sizes="180x180" href="/appleTouchIcon.png">
<link rel="icon" type="image/png" href="../img/iconoPet32x32.png"
	sizes="32x32">
<link rel="icon" type="image/png" href="../img/iconoPet16x16.png"
	sizes="16x16">
<meta name="theme-color" content="#ffffff">
<!-- Favicon end -->

<link href="https://fonts.googleapis.com/css?family=Mali:500" rel="stylesheet">
<title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Pet-Cloud</title>
<link rel="stylesheet" type="text/css" href="../css/default.css" />
<link rel="stylesheet" type="text/css" href="../css/animate.css" />
<link rel="stylesheet" type="text/css" href="../css/social-media.css" />
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<link rel="stylesheet" type="text/css" href="../css/payment-success.css" />
<link rel="stylesheet" type="text/css" href="../css/animations.css" />
<script type="text/javascript" src="../js/ajaxCalls.js"></script>
<script type="text/javascript" src="../js/various.js"></script>
<link rel="stylesheet" type="text/css" href="../css/maps.css" />

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<link charset="utf-8" rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- Be aware HTML2canvas, for some reason is the library start -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"
	integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
	crossorigin="anonymous"></script>	
<!-- Be aware HTML2canvas, for some reason is the library end -->
<title th:text="#{app.title}"></title>

</head>

<body>

<div th:fragment="share">
	<!-- Facebook sdk and buttons, should be on a div inside default and replace all pages, start -->
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId            : 'your-app-id',
	      autoLogAppEvents : true,
	      xfbml            : true,
	      version          : 'v3.2'
	    });
	  };
	
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- Facebook sdk and buttons, should be on a div inside default and replace all pages, end -->
	
	<!-- Facebook SDK share button start -->
	<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=601901980223237&autoLogAppEvents=1';
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- Facebook SDK share button end -->
</div>

	<!-- Star menu bar -->
	<nav th:fragment="bar"
		class="navbar navbar-toggleable-md navbar-expand-lg justify-content-between"
		id="navigationBar">

		<!-- All envolve in one div, collapse only seen on mobile screen -->
		<div id="logoNavigation" class="animated jello"   onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
			<!-- Logo Home -->
			<a class="nav-link navbar-brand" href="/index"><img
				src="../img/iconoPet75.png" width="30" height="30" alt="Home">
				Pet-Cloud</a>

			<!-- Print Collapse Icon -->
			<button class="navbar-toggler navbar-dark navbar-toggler-right"
				type="button" style="float: right;" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">

			<ul class="navbar-nav">
				<li class="nav-item dropdown dropdown-content"><a
					class="nav-link dropdown-toggle" href="#"
					id="navbarDropdownMenuLinkPetQR" data-toggle="dropdown"   onmouseout="removeBounce(this)" onmouseover="addBounce(this)"
					aria-haspopup="true" aria-expanded="false"><i
						class="fas fa-qrcode" style="color: white"></i> Pet-QR </a>
					<div class="dropdown-menu"   onmouseout="removeBounce(this)" onmouseover="addBounce(this)"
						aria-labelledby="navbarDropdownMenuLinkPetQR"
						style="background-color: black; color: white;">
						<a class="dropdown-item" href="/prepaid-qr"><i
							class="fas fa-qrcode" style="color: white"></i> <span th:text="#{default.activeqr}"></span></a> <a class="dropdown-item" href="/db-lost-pet"><i
							class="fas fa-database" style="color: white"></i> <span th:text="#{default.dbpets}"></span></a>
					</div></li>

				<!-- Start vet-cloud nav button -->
<!-- 				<li class="nav-item dropdown"><a -->
<!-- 					class="nav-link dropdown-toggle" href="#" -->
<!-- 					id="navbarDropdownMenuLinkVetQR" data-toggle="dropdown" -->
<!-- 					aria-haspopup="true" aria-expanded="false"><i -->
<!-- 						class="fas fa-cloud"></i> Vet-Cloud</a> -->
<!-- 					<div class="dropdown-menu" -->
<!-- 						aria-labelledby="navbarDropdownMenuLinkVetQR" -->
<!-- 						style="background-color: black; color: white;"> -->
<!-- 						<a class="dropdown-item" href="/vet-cloud"><i -->
<!-- 							class="fas fa-cloud-upload-alt"></i> Cargar datos</a> <a -->
<!-- 							class="dropdown-item" href="/vet-cloud"><i -->
<!-- 							class="fas fa-cloud-download-alt"></i> Consultar datos</a> <a -->
<!-- 							class="dropdown-item" href="/vet-cloud"><i -->
<!-- 							class="fas fa-upload"></i> Modificar datos</a> <a -->
<!-- 							class="dropdown-item" href="/vet-cloud"><i -->
<!-- 							class="fas fa-trash-alt"></i> Eliminar datos</a> -->
<!-- 					</div></li> -->
				<!-- End vet-cloud nav button -->

				<li class="nav-item"><a class="nav-link" href="/pricing" onmouseout="removeBounce(this)" onmouseover="addBounce(this)" ><i class="fas fa-paw" ></i> <span th:text="#{default.products}"></span></a></li>

				<li class="nav-item" ><a class="nav-link" href="/about" onmouseout="removeBounce(this)" onmouseover="addBounce(this)"><i
						class="fas fa-wrench"></i> <span th:text="#{default.help}"></span></a></li>

				<li class="nav-item"   onmouseout="removeBounce(this)" onmouseover="addBounce(this)"><a class="nav-link" href="/faq"><i
						class="far fa-question-circle"></i> F.A.Q</a></li>

				<li class="nav-item active"><a class="nav-link" href="#"
					onclick="contact()"   onmouseout="removeBounce(this)" onmouseover="addBounce(this)"><i class="far fa-envelope"></i> <span th:text="#{default.contact}"></span></a></li>

			</ul>
		</div>

		<!-- Logout Bundle buttons, do not change the order  -->
		<!-- Print Username -->
		<a th:if="${currentUser}" href="/account" id="currentUserButton"
			class="nav-link" th:text="${fullName}" onmouseout="removeBounce(this)" onmouseover="addBounce(this)"></a> <a   onmouseout="removeBounce(this)" onmouseover="addBounce(this)"
			th:if="${currentUser == 'Invitado'}" class="nav-link"
			th:href="@{/login}" id="loginButton"><i class="fas fa-user"
			style="color: white;"></i> Log in</a>

		<form style="margin-bottom: 0px;" class="nav-link" action="/logout"
			method="POST">
			<button style="text-shadow: 1px 2px black;" type="submit"
				th:if="${currentUser != 'Invitado'}" class="nav-link btn btn-danger"
				id="logoutButton">
				<i class="fas fa-sign-out-alt"></i> <span th:text="#{default.logout}"></span>
			</button>
		</form>

		<!-- Print Register -->
		<a th:if="${currentUser == 'Invitado'}" class="nav-link"
			href="/sign-up" id="registerButton" onmouseout="removeBounce(this)" onmouseover="addBounce(this)"><i class="fas fa-sign-in-alt"></i>
			<span th:text="#{default.register}"></span></a>

		<a th:switch="__${#locale.language}__" class="nav-link">
		    <a th:case="en"><img id="english" src="../img/flags/flag-usa-40x25.png" alt="English"/> English</a>
		    <a th:case="es"><img id="spanish" src="../img/flags/spain-flag-40x25.png" alt="Español"/> Español</a>
		    <a th:case="*">English</a>
		</a>

<!-- To select language manually, but is needed to activate in controllers LocaleResolver default local.US -->		
<!-- 		<select id="selectLanguage" onchange="changeLang()"> -->
<!-- 		<option value="*">Selec.</option> -->
<!-- 		<option value="en">English</option> -->
<!-- 		<option value="es">Español</option> -->
<!-- 		</select> -->
		
		<script>
// 		function changeLang(){
// 			var selectLanguage = document.getElementById("selectLanguage").value;
// 			if(selectLanguage == "es"){
// 				window.location.href = "?lang=es";
// 				selectLanguage.selected;
// 			}else{
// 				window.location.href = "?lang=en";
// 				selectLanguage.selected;
// 			}
// 		}
		</script>
<!-- To select language manually, but is needed to activate in controllers LocaleResolver default local.US -->
		
	</nav>
	<!-- End logout divs -->
	<!-- End menu bar -->

	<footer th:fragment="footer" id="footer" class="text-white mt-4">
	<div th:if="${error != null}" th:text="#{default.erroraccount}" class="alert alert-danger" id="error"></div>
		<div class="container-fluid py-3" >
			<div class="row">
				<div id="footerBrand" class="col-md-6" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
					Designed by <img alt="Molokotech" id="logo"
						src="/img/molokoalternativo.png" class="img-fluid"
						onmouseover="changeCursorToimages(this)" onclick="redirectTo()"> |   | Powered by <img src="../img/heroku-logo.png" id="herokuLogo" onmouseover="changeCursorToimages(this)" onclick="window.location.href='https://heroku.com'" class="img-fluid" style="height:28px"><span class="small"><br>
						<strong style="color: #ff8000">Vet-Cloud</strong>® y <Strong
						style="color: #ff8000">Pet-QR</Strong>® <span th:text="#{default.footer.trademarks}">son marcas Registradas de</span> 
						<strong style="color: #ff8000">Molokotech Solutions</strong>.</span>


				</div>
				<div class="col-md-3"></div>
				<div id="divAgeCreated"
					class="col-md-3 text-right small align-self-end">©2017 M.
					Reg.
					<!-- Social media Buttons start -->
					<a href="https://twitter.com/minimalmonkey"
						class="icon-button twitter"><i class="fab fa-twitter icon-twitter"></i> <span></span></a>
					<a href="https://www.facebook.com/Pet-QR-352297888698658/" class="icon-button facebook"><i class="fab fa-facebook-f icon-facebook"></i><span></span></a> <a
						href="https://plus.google.com" class="icon-button google-plus"><i class="fab fa-google-plus-g icon-google-plus"></i>  <span></span></a>
					<!-- Social media Buttons end -->
					</div>
			</div>
		</div>

	</footer>
	<!-- /.container -->

</body>

</html>