<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" src="../js/download.js"></script>
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/zoom.css" />
	<link rel="stylesheet" type="text/css" href="../css/download.css" />
	<link rel="stylesheet" type="text/css" href="../css/gallery.css" />
	<script type="text/javascript" src="../js/gallery.js"></script>
	<script type="text/javascript" src="../js/downloadDesign.js"></script>

<style>
	.thirdteenCol{
		flex-grow: 0;
   		flex-shrink: 0;
  		flex-basis: 30%;
	}
	
	.box{
	width:140px; height:140px;
	border-radius: 7px;
	box-shadow: 0px 0px 15px black;
	}
</style>

</head>
<nav th:replace="default :: bar"></nav>

<footer th:replace="default :: footer"></footer>
<body onload="adviceVariablesNull()">

	<div >
		<div >
			<div id="downloadMainContainerDiv" class="card rounded" >
				<!-- test -->

				<!-- Shared for all objects start -->		
				<input type="hidden" th:value="${prepaidQR.strBase64}" id="strBase64"/>
				<input type="hidden" th:value="${owner?.base64Backside}" id="base64Backside" />
				<input type="hidden" th:value="${prepaidQR.id}" id="id" />
				<!-- Shared for all objects end -->
				
				<!-- th:block rather than unneeded div -->
				<th:block th:switch="${prepaidQR.typeAnimal}">
				<!-- Dog case start -->
				    <div th:case="'dog'">
							<h5 class="card-header blue-gradient white-text">Download Dog Tag</h5>
					 <div style="padding:30px">
					    <div style="display:flex; justify-content: space-around;">
						    <div id="qrcode" class="halfCol">
						    <label>QR code</label><br>
						    	<img alt="QR code Dog" th:src="'data:image/png;base64,' + ${prepaidQR?.strBase64}" class="box">
						    </div>
						    <div id="base64Backside" class="halfCol">
						    	<label>Backside of the Tag</label><br>
						    	<img alt="Backside Tag Dog" th:src="${owner?.base64Backside}" class="box">
						    </div>
					    </div>
				<br>
				<br>

					<h6>Select logo model:</h6>
					<hr>
				        <!-- print object is not active -->
						<input type="hidden" th:value="${prepaidQR.dog.resultBase64Avatar}" id="resultBase64Avatar" style="display:block" />
						<input type="hidden" th:value="${dog?.petName}" style="display:block" id="petName" />
						<input type="hidden" th:value="${dog?.raze}" style="display:block" id="raze" />
						<input type="hidden" th:value="${dog?.illness}" style="display:block" id="illness" />
						<input type="hidden" th:if="${dog?.medicated == false}" th:value="No" style="display:block" id="medicated" />
						<input type="hidden" th:unless="${dog?.medicated == false}" th:value="Yes" style="display:block" id="medicated" />
						<input type="hidden" th:if="${dog?.neuteredPet == false}" th:value="No" style="display:block" id="neuteredPet" />
						<input type="hidden" th:unless="${dog?.neuteredPet == false}" th:value="Yes" style="display:block" id="neuteredPet" />
						<input type="hidden" th:value="${owner?.telephone1}" style="display:block" id="telephone1" />
						<input type="hidden" th:value="${owner?.telephone2}" style="display:block" id="telephone2" />
						<input type="hidden" th:value="${owner?.email}" style="display:block" id="email" />
				    
				    	<div th:replace="logos :: logosDogFragment"></div>
				    </div>
				  </div>
				<!-- Dog case end -->
				
				<!-- Cat case start -->
				    <div th:case="'cat'">
				    	<h5 class="card-header blue-gradient white-text">Download Cat Tag</h5>
				<div style="padding:30px">
					<div style="display:flex; justify-content: space-around">
						<div id="qrcode" class="thirdteenCol">
					    <label>QR code</label><br>
					    	<img alt="QR code Cat" th:src="'data:image/png;base64,' + ${prepaidQR?.strBase64}" class="box">
					    </div>
					    <div id="avatar" class="thirdteenCol">
					    <label>Photo</label><br>
					    	<img alt="Avatar Cat" th:src="${prepaidQR?.cat?.resultBase64Avatar}" class="box">
					    </div>
					    <div id="base64Backside" class="thirdteenCol">
					    	<label>Backside of the Tag</label><br>
					    	<img alt="Backside Tag Cat" th:src="${owner?.base64Backside}" class="box">
					    </div>
				    </div>
				<br>
				<br>
					<h6>Select logo model:</h6>
					<hr>
						<input type="hidden" th:value="${prepaidQR.cat.resultBase64Avatar}" id="resultBase64Avatar" />
						<input type="hidden" th:value="${cat?.petName}" id="petName" />
						<input type="hidden" th:value="${cat?.raze}" id="raze" />
						<input type="hidden" th:value="${cat?.illness}" id="illness" />
						<input type="hidden" th:if="${cat?.medicated == false}" th:value="No" id="medicated" />
						<input type="hidden" th:unless="${cat?.medicated == false}" th:value="Yes" id="medicated" />
						<input type="hidden" th:if="${cat?.neuteredPet == false}" th:value="No" id="neuteredPet" />
						<input type="hidden" th:unless="${cat?.neuteredPet == false}" th:value="Yes" id="neuteredPet" />
						<input type="hidden" th:value="${owner?.telephone1}" id="telephone1" />
						<input type="hidden" th:value="${owner?.telephone2}" id="telephone2" />
						<input type="hidden" th:value="${owner?.email}" id="email" />
			    	<div th:replace="logos :: logosDogFragment"></div>
			    	</div>
			    </div>
				<!-- Cat case end -->
				
				<!-- Cat case start -->
				    <div th:case="'horse'">
				    	<h5  class="card-header blue-gradient white-text">Download Horse Tag</h5>
				<div style="padding:30px">
					<div style="display:flex; justify-content: space-around">
						<div id="qrcode" class="thirdteenCol">
					    <label>QR code</label><br>
					    	<img alt="QR code Horse" th:src="'data:image/png;base64,' + ${prepaidQR?.strBase64}" class="box">
					    </div>
					    <div id="avatar" class="thirdteenCol">
					    <label>Photo</label><br>
					    	<img alt="Avatar Horse" th:src="${prepaidQR?.horse?.resultBase64Avatar}" class="box">
					    </div>
					    <div id="base64Backside" class="thirdteenCol">
					    	<label>Backside of the Tag</label><br>
					    	<img alt="Backside Tag Horse" th:src="${owner?.base64Backside}" class="box">
					    </div>
				  </div>
				<br>
				<br>
					<h6>Select logo model:</h6>
					<hr>
					
					<small>For equins is available ony one model, without photo and map.</small>
						<input type="hidden" th:value="${prepaidQR.horse.resultBase64Avatar}" style="display:block" id="resultBase64Avatar" />
						<input type="hidden" th:value="${horse?.petName}" style="display:block" id="petName" />
						<input type="hidden" th:value="${horse?.breed}" style="display:block" id="breed" />
						<input type="hidden" th:value="${horse?.illness}" style="display:block" id="illness" />
						<input type="hidden" th:if="${horse?.medicated == false}" th:value="No" style="display:block" id="medicated" />
						<input type="hidden" th:unless="${horse?.medicated == false}" th:value="Yes" style="display:block" id="medicated" />
						<input type="hidden" th:if="${horse?.neuteredPet == false}" th:value="No" style="display:block" id="neuteredPet" />
						<input type="hidden" th:unless="${horse?.neuteredPet == false}" th:value="Yes" style="display:block" id="neuteredPet" />
						<input type="hidden" th:value="${owner?.telephone1}" style="display:block" id="telephone1" />
						<input type="hidden" th:value="${owner?.telephone2}" style="display:block" id="telephone2" />
						<input type="hidden" th:value="${owner?.email}" style="display:block" id="email" />
				    
				    <div th:replace="logos :: logosDogFragment"></div>
					 </div>				    
				    </div>
				    <div th:case="'rat'">
				        <!-- print object is new and active -->
						<input type="text" th:value="${hamsterFishTank?.housing}" style="display:block" id="housing" />
						<input type="text" th:if="${rat?.medicated == false}" th:value="No" style="display:block" id="medicated" />
						<input type="text" th:unless="${rat?.medicated == false}" th:value="Yes" style="display:block" id="medicated" />
						<input type="text" th:if="${rat?.neuteredPet == false}" th:value="No" style="display:block" id="neuteredPet" />
						<input type="text" th:unless="${rat?.neuteredPet == false}" th:value="Yes" style="display:block" id="neuteredPet" />
						<input type="text" th:value="${hamsterFishTank?.wheel}" style="display:block" id="wheel" />
						<input type="text" th:value="${hamsterFishTank?.rodentQuantity}" style="display:block" id="rodentQuantity" />
						<input type="text" th:value="${hamsterFishTank?.houseCleaned}" style="display:block" id="houseCleaned" />
						<input type="text" th:value="${rat?.rodentType}" style="display:block" id="rodentType" />
						<input type="text" th:value="${rat?.bite}" style="display:block" id="bite" />
						<input type="text" th:value="${rat?.sex}" style="display:block" id="sex" />
						
				    </div>
				    <div th:case="'fish'">
				        <!-- print object is new and active -->
						<input type="text" th:value="${fish?.quantity}" style="display:block" id="quantity" />
						<input type="text" th:value="${fish?.water}" style="display:block" id="water" />
						<input type="text" th:value="${fish?.throwLastMedicine}" style="display:block" id="throwLastMedicine" />
						<input type="text" th:if="${fish?.medicated == false}" th:value="No" style="display:block" id="medicated" />
						<input type="text" th:unless="${horse?.medicated == false}" th:value="Yes" style="display:block" id="medicated" />
						<input type="text" th:if="${horse?.neuteredPet == false}" th:value="No" style="display:block" id="neuteredPet" />
						<input type="text" th:unless="${horse?.neuteredPet == false}" th:value="Yes" style="display:block" id="neuteredPet" />
						<input type="text" th:value="${fish?.tmperature}" style="display:block" id="temperature" />
						<input type="text" th:value="${fish?.lastFishbowlClean}" style="display:block" id="lastFishbowlClean" />
						<input type="text" th:value="${fish?.plantFertilizer}" style="display:block" id="plantFertilizer" />
				    </div>
				</th:block>
				<!-- test -->
				<div style="padding:30px">
				<p><strong style="color:deeppink">If download did'nt start just verify:</strong></p>
				<p>1) You have uploaded a photo of your animal here: <a href='/account' style="color:Gold">M.P.A.T edit data</a></p>
				<p>2) You have uploaded backside tag, if you don't wanna put your place just select anywere: <a href='/user' style="color:Gold">Backside tag</a></p>
				</div>
			<br><br><br><br><br>
			</div>
		</div>
	</div>

</body>

</html><