<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/id.css" />
	<link rel="stylesheet" type="text/css" href="../css/base.css" />
	<link rel="stylesheet" type="text/css" href="../css/maps.css" />
	<link rel="stylesheet" type="text/css" href="../css/view.css" />
	<script type="text/javascript" src="../js/parallax.js"></script>
</head>

<body onload="initMap(), moveToLocation(), youtube_parser()">
	<nav th:replace="default :: bar"></nav>
	<!-- Share info start -->
	<div th:replace="default :: share"></div>
	<!-- Share info e
	
		<!-- Parallax start -->
		<style>
			.parallax-window {
			    min-height: 400px;
			    background: transparent;
			}
		</style>

				<!-- Type of animalFragment start -->
					<div style="padding:0px !important" th:switch="${prepaidQR.typeAnimal}">
						<div th:case="horse">
							<div class="parallax-window" data-parallax="scroll" data-image-src="../img/viewHorseParallax.jpg" style="box-shadow:0px 0px 75px black;"></div>
						</div>
						<div th:case="dog">
							<div class="parallax-window" data-parallax="scroll" data-image-src="../img/viewDogParallax.jpg" style="box-shadow:0px 0px 75px black;"></div>
						</div>
						<div th:case="cat">
							<div class="parallax-window" data-parallax="scroll" data-image-src="../img/viewCatParallax.jpg" style="box-shadow:0px 0px 75px black;"></div>
						</div>
						<div th:case="rat">
							<div class="parallax-window" data-parallax="scroll" data-image-src="../img/viewRatParallax.jpg" style="box-shadow:0px 0px 75px black;"></div>
						</div>
					</div>
				<!-- Type of animalFragment end -->

		<!-- Parallax end -->	
	
	<div class="container">
		
		<div th:if="${prepaidQR} != null" id="idMainContent" class="container-fluid background-colors">
		
		<div th:if="${user.setup.lockTemplate} == true">

				<!-- Type of animalFragment start -->
					<div th:switch="${prepaidQR.typeAnimal}">
						<div th:case="fish">
							<br>
							<div th:replace="viewFish :: fishFragment"></div>
						</div>
						<div th:case="horse">
							<br>
							<div th:replace="viewHorse :: horseFragment"></div>

								<div th:if="${user?.setup?.showSpecialMessage}">
									<script>
										$.alert({
											type:"red",
											title:"<i class='far fa-frown fa-2x' style='color:Gold'></i> My pet is lost",
											content:"[[${prepaidQR?.horse?.specialMessage}]]"
										});
									</script>
								</div>
						</div>
						<div th:case="dog">
							<br>
							<div th:replace="viewDog :: dogFragment"></div>
								
								<div th:if="${user?.setup?.showSpecialMessage}">
									<script>
										$.alert({
											type:"red",
											title:"<i class='far fa-frown fa-2x' style='color:Gold'></i> My pet is lost",
											content:"[[${prepaidQR?.dog?.specialMessage}]]"
										});
									</script>
								</div>
						</div>
						<div th:case="cat">
							<br>
							<div th:replace="viewCat :: catFragment"></div>
						
								<div th:if="${user?.setup?.showSpecialMessage}">
									<script>
										$.alert({
											type:"red",
											title:"<i class='far fa-frown fa-2x' style='color:Gold'></i> My pet is lost",
											content:"[[${prepaidQR?.cat?.specialMessage}]]"
										});
									</script>
								</div>						
						</div>
						<div th:case="rat">
							<br>
							<div th:replace="viewRat :: ratFragment"></div>
						</div>
					</div>
				<!-- Type of animalFragment end -->
				<div th:if="${user?.setup?.sendCoordinates}">
				<script>
				/* Needs to be here to wait charge email input, not onload */
				$( document ).ready(function() {
					getLocalization();
				});
				</script>
				</div>
				<br> <br> <br>
			</div>
			
			<div th:unless="${user?.setup?.lockTemplate} == true" style="background-color:rgba(100,100,100,0.5); border-radius:10px; width:100%; height:100%">
				<h4 style="color:white; text-shadow:2px 2px black; text-align:center; padding-top:30px;"><i class="fa fa-lock fa-2x text-success"></i> Not Allowed by the user temporally.</h5>
				<button onclick="window.location.href='/index'" class="btn btn-lg peach-gradient" style="text-shadow:2px 2px black;">Home page</button>
			</div>
			
		</div>
	</div>

	
		<!-- Start Google Maps Javascript -->
		<script type="text/javascript" src="../js/googleApis.js"></script>
		<!-- Javascript maps libraries -->
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFuQb3h_4AhG3Kmdf3NIz3aZfzsguDQOE&libraries=places&callback=initMap"
			async defer></script>
		<!-- Javascript maps libraries -->
	
	
	<div  th:if="${user?.setup?.showFooter}"><footer th:replace="default :: footer"></footer></div>
</body>

</html>