<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/login.css" />

<!-- Meta OG Start-->
<meta property="og:title" content="Pet-QR download customize tag for pets" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://pet-qr.com" />
<meta property="og:image" content="https://pet-qr.com/img/openGraphFacebook.jpg" />
<!-- Meta OG End -->

<!-- Share js libraries start -->
<div th:replace="default :: share"></div>
<!-- Share js libraries end -->
</head>

<body class="background-colors">

	<!-- Template bar -->
	<nav th:replace="default :: bar"></nav>
	<div id="triangleTopLeftIndex"><div style="position:absolute; top:-200px; left:0px;" ><!-- <img src="../img/world.png" /> --><div onmouseout="removeBounce(this)" onmouseover="addBounce(this)" style="color:white;text-shadow: 0px 0px 5px black; position:absolute; top:0px;left:0px;padding:5px; transform:rotate(-45deg)"><br><strong th:text="#{index.buyandadmin}"></strong> <i class="fas fa-wifi" style="color:#ff8000"></i></div></div></div>

	<div style="position:relative !important;top:0px;left:0px;width:100% !important; display:block;">
			<div  style="position:relative !important; width:100%; margin:0 auto; top: 0px; left:0px;"><img alt="" class="img-fluid" src="../img/dogsCats.jpg">
	<div><button id="startButton" th:if="${currentUser != 'Guess'}" class="btn btn-lg peach-gradient" onclick="window.location.href='/account'" style="position:absolute; top: 5%; left:50%; max-width:320px; height:auto !important; box-shadow: 0px 0px 30px black; text-shadow: 1px 2px black">Empezar</button></div>
			<div id="loginDiv" th:if="${#session == null}" th:insert="login :: login" style="position:absolute; top: 5%; left:65%; max-width:320px; height:auto !important"></div>
		</div>
	</div>
	
	<div id="disclaimer" th:if="${#session == null}"><strong class="animated flipInX delay-2s"><span style="color:Gold">"</span>The awesome of <a onclick="mpat()"><span style="color:blue">M</span>.<span style="color:red">P</span>.<span style="color:Gold">A</span>.<span style="color:LimeGreen">T</span>.</a> is that you can "store" almost 5 animals in one QR-code...<span style="color:Gold">"</span></strong> </div>
	
	<script>
	function mpat(){
		$.alert({
			type:"purple",
			title:"<i class='fa fa-paw' style='color:deeppink'></i> Multi Porpuse Animal Tag",
			content:"<html><body><span style='text-align:justify'>It's a QR code that can handle more than one animal, so you can Store dog, cat, rodents even horses and fishes, the QR code shows one Animal at time, but you can choose the one whoose active now. Power control within your pets.</span></body></html>"
		});
	}
	</script>
	

	
	<div th:if="${#session != null}" style="position:absolute; left:77%; top:13%;" id="logoStarterAnimation">
	   <img src="../img/iconoPet75.png" style="position:absolute; left:33px; top:0px;" class="animated flipInX delay-2s" id="pLogo" onmouseover="changeCursorToimages()" onclick="window.location.href = '/account'">
	   <h5 id="titleStarter1" style="position:absolute; left:0px; top:145px; width: 230px" class="animated flipInX delay-3s" th:text="#{index.intro1}"></h5>
	   <h4 id="titleStarter2" style="position:absolute; left:10px; top:175px; width:270px" class="animated flipInX delay-4s">But a whole Platform!</h4>
	   <h4 id="titleStarter3" style="position:absolute; left:0px; top:210px; width:270px;" class="animated flipInX delay-5s">for <span style="color:blue">A</span><span style="color:red">n</span><span style="color:green">i</span><span style="color:DarkViolet">m</span><span style="color:lightblue">a</span><span style="color:orange">l</span> S<i class="fa fa-at" style="color:LimeGreen"></i>fety.</h4></div>
	
	<!-- Action Buttons start -->
	<div id="barActionButtons" style="padding:20px;background-color:black; height: auto; text-align:center" class="flexAllStretch grey-text">
			<div>
			<h4 id="buttonsActive" class="text-warning" style="text-align:center"><i style="color:white" class="fas fa-qrcode"></i> Start now</h4>
			<hr style="border: 1px solid gold;">
			<span style="text-align:center" class="grey-text">Activate your MPTA right now or start a Free Trial</span>	
				<div style="text-align:center">
					<button id="activateButton" type="button" class="btn purple-gradient" onclick="spinner(id); window.location.href= '/pricing';" onmouseout="removeBounce(this)" onmouseover="addBounce(this)"></span> Comprar QR</button>
					
					<button class="btn purple-gradient" onclick="window.location.href= '/prepaid-qr'" onmouseout="removeBounce(this)" onmouseover="addBounce(this)" th:text="#{index.button.activateqr}"></button>
				</div>
			</div>	
			
			<div>
			<h4 class="text-warning"><i style="color:white" class="fas fa-share-alt"></i> Share this page</h4>
			<hr style="border: 1px solid gold;">
				<span style="text-align:center">We develop for animal's safety, it's a god cause so if could just share it.</span><br>
					<div style="display:flex !important; justify-content: center !important">
						<div style="padding:3px; float: left"><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Customize%20your%20online%20QR%20Code%20for%20your%20Pet!" data-size="large" size="large">Tweet</a></div>
						<div style="padding:3px; float: left;" class="fb-share-button" data-href="https://pet-qr.com" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpet-qr.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
						<!-- Your like button code -->
						<div  style="padding:3px;float: left" class="fb-like" data-href="https://pet-qr.com" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
					</div>
			</div>

		<!-- PDF div start -->
			<div id="pdfDiv">
				<h4 class="text-warning" style="text-align:center"><i style="color:white" class="fas fa-eye"></i> View Example</h4>
				<hr style="border: 1px solid gold;">
				<span>Just check the example bellow</span>
				<div>	
					<img src="../img/pdfIcon75.png" alt="" id="pdfimage" style="width: 64px; padding-right:20px;" onclick="viewPdf()" onmouseover="addBounce(this), changeCursorPdf()" onmouseout="removeBounce(this)" />
					<img src="../img/youtube.jpg" style="border-radius:3px">
				</div>
			</div>
		<!-- PDF div end -->
	</div>
		<!-- Action Buttons end -->	
			<div class="tab-content flexAllStretch rounded" style="">
                            <div id="compare" style="width:100%; margin: 20px;" class="card col40">
                            <h3 class="card-header purple-gradient white-text"><i style="color:turquoise" class="fas fa-search"></i> <span th:text="#{index.compare.title}"></span></h3>
                                <table class="table table-striped table-hover table-bordered bg-light rounded" style="margin:20 auto;font-size: 9px;">
                                    <tbody>
                                        <tr>
                                            <th width="40%" class="text-center" th:text="#{index.table.header.detail}"></th>
                                            <th width="20%" class="text-center"><i style="color:#892EE4" class="fas fa-qrcode"></i> <span th:text="#{index.table.header.header1}"></span></th>
                                            <th width="20%" class="text-center"><i style="color:#FF8A8A" class="fas fa-microchip"></i> <span th:text="#{index.table.header.header2}"></span></th>
                                            <th width="20%" class="text-center"><i style="color:#2FAACE" class="fas fa-tag"></i> <span th:text="#{index.table.header.header3}"></span></th>
                                        </tr>
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.visible}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td  class="text-center"><i class="fas fa-check check"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.cloud}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                        </tr> 
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.update}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                        </tr>   
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.invasive}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                        </tr>  
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.ch}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                        </tr> 
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.account}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.contactmethods}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                        </tr>
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.unlimitedrestore}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                       <tr>
                                            <td class="text-right" th:text="#{index.table.detail.noshipping}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                       
                                       <tr>
  	                                        <td class="text-right" th:text="#{index.table.detail.custommessage}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                       <tr>
  	                                        <td class="text-right" th:text="#{index.table.detail.video}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                       <tr>
  	                                        <td class="text-right" th:text="#{index.table.detail.map}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                       <tr>
  	                                        <td class="text-right" th:text="#{index.table.detail.sizes}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                        <tr>
  	                                        <td class="text-right" th:text="#{index.table.detail.transfer}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                       <tr>
  	                                        <td class="text-right" th:utext="#{index.table.detail.db}"></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-question" style="color:blue"></i></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>                                         
                                       </tr>
                                        <tr>
                                            <td class="text-right" th:text="#{index.table.detail.printable}"></td>
                                            <td class="text-center"><i class="fas fa-times cancel"></i></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                            <td class="text-center"><i class="fas fa-check check"></i></td>
                                        </tr>
                                             
                                    </tbody>
                                </table>
                                
                                <div style="text-align:center; display:flex; flex-direction:column;" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
											<button type="button" class="btn btn-lg purple-gradient" onclick="window.location.href='/pricing'" style="margin: 0 auto;" onmouseout="removeBounce(this)" onmouseover="addBounce(this)"><strong th:text="#{index.panel5.buttonstart}"></strong></button>
											<small style="margin: 0 auto; font-size:16px; padding:3px;" th:text="#{index.panel5.starnow}"></small>
										<button onclick="window.location.href='/temporal-qr'" class="btn btn-lg blue-gradient" style="margin: 0 auto;" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">Start Free trial</button>
											<small style="padding:3px;" class="form-group" th:text="#{index.panel5.starnow.description}"></small><br>
										</div>
                                
                                </div>
                  
                 <div id="steps" class="card col40" style="margin:20px">
					<h3 class="card-header  aqua-gradient white-text"><i style="color:LimeGreen" class="fas fa-play"></i> <span th:text="#{index.howto.title}"></span></h3>
					<div class="rounded flexAllCenter howitworksTable container-fluid">
						<div>
							<ul class="col">
							<li class="title"><img alt="Sing up" src="../img/signup150.png" class="img-fluid"></li>
								<li><b th:text="#{index.howto.signup.title}">1) Sign Up.</b></li>
								<li><i style="color:#ff8000" class="fas fa-long-arrow-alt-right"></i> <span th:text="#{index.howto.signup.createaccount}"></span></li>
								<li><small style="color:DarkGreen" th:text="#{index.howto.signup.30daysfree}"></small></li>
								<li><button class="btn btn-lg button" onclick="window.location.href='/sign-up'" style="background-color:rgb(40, 193, 203)"  th:text="#{index.howto.signup.buttonsignup}">Sign Up</button></li>
							</ul>
						</div>
						<div>
							<ul class="col">
							<li class="title"><img alt="Login" src="../img/login150.png" class="img-fluid"></li>
								<li><b th:text="#{index.howto.login.title}">2) Login</b></li>
								<li><i style="color:#ff8000" class="fas fa-long-arrow-alt-right"></i> <span  th:text="#{index.howto.login.loginto}"></span></li>
								<li><small style="color:DarkGreen" th:text="#{index.howto.login.loginneeded}"></small></li>
								<li><button class="btn btn-lg button" onclick="window.location.href='/login'" style="background-color:rgb(249, 111, 118)" th:text="#{index.howto.login.buttonlogin}">Login</button></li>
							</ul>
						<div >
							<ul class="col">
							<li  class="title"><img alt="Activate QR code" src="../img/activate150.png" class="img-fluid"></li>
								<li><b th:text="#{index.howto.activation.title}">3) Activation code</b></li>
								<li><i style="color:#ff8000" class="fas fa-long-arrow-alt-right"></i> <span  th:utext="#{index.howto.activation.chooseproduct}"></span>  <button class="btn btn-sm btn-primary" onclick="window.location.href='/pricing'" th:text="#{index.howto.activation.chooseproduct.button}"></button></li>
								<li><i style="color:#ff8000" class="fas fa-long-arrow-alt-right"></i> <span  th:text="#{index.howto.activation.checkemail}"></span></li>
								<li><small style="color:DarkGreen" th:text="#{index.howto.activation.putactivationcode}"></small></li>
								<li><button class="btn btn-lg button" id="stepActivate" onclick="spinner(id); window.location.href='/prepaid-qr'" style="background-color:rgb(210, 117, 251)" th:text="#{index.howto.activation.buttonactivation}">Activate QR</button></li>
							</ul>
						</div>
					</div>
				</div>
             </div>                        
		</div>
			
			<br>
			<br>
			<br>
			
		<!-- End background tiles -->
<!-- Twitter library start -->
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>
<!-- Twitter library end -->

<script>
	function viewControlPanel() {
		$
				.alert({
					title : "Panel de Control",
					columnClass : 'col-md-8',
					content : "<html><body><div><img src='/img/controlPanel.png' /><br><p>Como se observa en el último código, el botón de alerta está en verde ya que el mismo se declaró como perdido.</p></div></body></html>"
				});
	}
</script>

<script>
	function addRubberBand(id) {
		$(id).addClass('animated rubberBand');
	}

	function removeRubberBand(id) {
		$(id).removeClass('animated rubberBand');
	}
</script>

<script>
	function viewPdf() {
		window.location.href = "/img/petQR_Design_a4.pdf";
	}
	function changeCursorPdf() {
		var pdf = document.getElementById("pdfimage");
		pdf.style.cursor = "pointer";
	}
</script>

	<!-- Template footer -->
	<footer th:replace="default :: footer"></footer>

</body>
</html>