<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="default :: header">
</head>

<body>
	<!-- Share info start -->
	<div th:replace="default :: share"></div>
	<!-- Share info end -->

	<!-- Template bar -->
	<nav th:replace="default :: bar"></nav>
	<div id="triangleTopLeftIndex"><div  style="position:absolute; top:-200px; left:0px;" ><img src="../img/world.png" /><div onmouseout="removeBounce(this)" onmouseover="addBounce(this)" style="color:white;text-shadow: 0px 0px 5px black; position:absolute; top:0px;left:0px;padding:5px;"><strong th:text="#{index.buyandadmin}"></strong> <i class="fas fa-wifi" style="color:#ff8000"></i></div></div></div>
	<!-- Alert start -->
	<div th:if="${emergency}" class="alert alert-danger">
		<p th:text="#{index.lostdogdeclaration}"></p> <a th:text="#{index.db}" href='/db-lost-pet' style="color: DarkRed"> </a>
	</div>

	<div th:if="${rescued}" class="alert alert-success">
		<p th:text="#{index.rescuedog}"></p> <a th:text="#{index.db}" href='/db-lost-pet' style="color: DarkGreen"> </a>
		
	</div>
	<!-- Alert end -->
	<div class="container">
		<div id="indexMasterDiv" class="container-fluid" style="background-image: url(../img/tile_pupure.jpg); padding-top: 20px; box-shadow: 0px 0px 25px black;">
				<div class="flex-container transparency panel">
				<!--  Start Carousel -->
				<div id="carouselExampleControls" class="carousel slide container-fluid" data-ride="carousel" style="width: 65%; color: violet;" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="img-fluid w-100 imageCarousel"
								src="../img/carousel1.jpg" alt="First slide"
								style="border-radius: 7px;">
							<div class="carousel-caption d-none d-md-block transparency"
								style="color: white; text-shadow: 1px 2px black;">
								<h4 th:text="#{index.carousel.title1}"></h4>
								<h6 style="text-shadow: 1px 2px black;" th:text="#{index.carousel.subtitle1}"></h6>
							</div>
						</div>
						<div class="carousel-item">
							<img class="img-fluid w-100 imageCarousel"
								src="../img/carousel2.jpg" alt="Second slide"
								style="border-radius: 7px;">
							<div class="carousel-caption d-none d-md-block transparency"
								style="color: white; text-shadow: 1px 2px black;">
								<h4 th:text="#{index.carousel.title2}"></h4>
								<h6 th:text="#{index.carousel.subtitle2}" style="text-shadow: 1px 2px black;"></h6>
							</div>
						</div>
						<div class="carousel-item">
							<img class="img-fluid w-100 imageCarousel"
								src="../img/carousel3.jpg" alt="Third slide"
								style="border-radius: 7px;">
							<div class="carousel-caption d-none d-md-block transparency"
								style="color: white; text-shadow: 1px 2px black;">
								<h4 th:text="#{index.carousel.title3}"></h4>
								<h6 style="text-shadow: 1px 2px black;" th:text="#{index.carousel.subtitle3}"></h6>
							</div>
						</div>
						<div class="carousel-item">
							<img class="img-fluid w-100 imageCarousel"
								src="../img/carousel4.jpg" alt="Four slide"
								style="border-radius: 7px;">
							<div class="carousel-caption d-none d-md-block transparency"
								style="color: white; text-shadow: 1px 2px black;">
								<h4 th:text="#{index.carousel.title4}"></h4>
								<h6 style="text-shadow: 1px 2px black;" th:text="#{index.carousel.subtitle4}"></h6>
							</div>
						</div>

						<div class="carousel-item">
							<img class="img-fluid w-100 imageCarousel"
								src="../img/prepaidQR1366x700.jpg" alt="Five slide"
								style="border-radius: 7px;">
							<div class="carousel-caption d-none d-md-block transparency"
								style="color: white; text-shadow: 1px 2px black;">
								<h4 th:text="#{index.carousel.title5}"></h4>
								<h6 style="text-shadow: 1px 2px black;" th:text="#{index.carousel.subtitle5}"></h6>
							</div>
						</div>

					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls"
						role="button" data-slide="prev"> <span
						class="carousel-control-prev-icon" aria-hidden="true"></span> <span th:text="#{index.back}"
						class="sr-only"></span>
					</a> <a class="carousel-control-next" href="#carouselExampleControls"
						role="button" data-slide="next"> <span
						class="carousel-control-next-icon" aria-hidden="true"></span> <span th:text="#{index.forward}"
						class="sr-only"></span>
					</a>
				</div>
				<!--  End Carousel -->

				<!-- Button start -->
				<div style="width: 35%;" id="textFirstPanel">
						<p id="banner1">
							<img alt="Pet-QR" src="../img/iconoPet75.png" style="width: 30px; height: 30px; padding:3px;" th:text="#{index.carousel.panel}">
						</p>
						<div style="display:inline-block">
							<div class="form-group">
								<button class="btn btn-lg buttonViolet form-group"
									onclick="window.location.href= '/pricing'"
									onmouseout="removeBounce(this)" onmouseover="addBounce(this)" th:text="#{index.button.buyqr}"></button>
								<br>
								<button class="btn btn-lg buttonViolet form-group"
									onclick="window.location.href= '/prepaid-qr'"
									onmouseout="removeBounce(this)" onmouseover="addBounce(this)" th:text="#{index.button.activateqr}"></button>
								<br>
							</div>
						</div>
						<div style="display:inline-block">
							<div style="float:left; padding: 20px">
								<span th:text="#{index.viewexample}" class="badge badge-danger"></span>
							</div>
							<div>	
								<img src="../img/pdfIcon75.png" alt="" id="pdfimage" style="width: 64px" onclick="viewPdf()" onmouseover="addBounce(this), changeCursorPdf()" onmouseout="removeBounce(this)" />
							</div>
							
						</div>
						<!-- Share buttons start -->
							<div style="display:flex; flex-direction:column">
								<div class="fb-share-button" style="padding-top:5px" data-href="https://pet-qr.com" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpet-qr.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
								<div style="padding-top:5px"><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Customize%20your%20online%20QR%20Code%20for%20your%20Pet!" data-size="large" size="large">Tweet</a></div>
							</div>
						<!-- Share buttons end -->
					</div>
				</div>

				<!-- Button end -->
			
			<div id="main" class="flex-container transparency panel"  style="width:100%" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
				<div class="columms" id="paragraph"  style="width:65%">
					<h1 style="color:white" th:text="#{index.title}"></h1>
					<h3 style="color:white" th:text="#{index.subtitle}"></h3>
					<p th:text="#{index.paragraph}"></p>
				</div>
				<div class="columns" style="width:35%">
					<img src="../img/pet-tag-qr-1.png" id="pet-tag-1" class="img-fluid" alt="Pet-QR-Tag" style="min-width:250px">
				</div>
			</div>
			
			<br>
			
			<div class="flex-container transparency panel" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
				<div class="columms" id="firstImage">
					<img src="../img/presentation.png" alt="Ejemplo" style="padding: 15px;" class="img-fluid" />
				</div>
				<div class="columms">
					<i class="fas fa-qrcode" style="color: BlueViolet; font-size:28px; display:inline;float:left; padding:5px;"></i>
					<h3 th:text="#{index.panel1.petqr}"></h3>
					<p style="text-align: justify;" th:text="#{index.panel1.petqr.description}"></p>
				</div>
			</div>
			
			<br>
			
			<div class="flex-container transparency panel" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
				<div class="columms">
					<i class="fab fa-steam-square" style="color: coral; font-size:28px; float: left; padding: 5px;"></i>
					<h3 th:text="#{index.panel2.how}"></h3>
					<p th:text="#{index.panel2.how.description}" style="padding:10px"></p>
				</div>
				<div class="columms">
					<img src="../img/pet-tag-qr-3.jpg" id="pet-tag-qr-3" class="img-fluid" alt="Pet-QR-Tag" style="padding: 10px;" />
				</div>
			</div>

			<br>
		
			<div class="flex-container transparency panel" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
				<div class="columms">
					<img src="../img/controlPanel.png" alt="Ejemplo" class="img-fluid" style="padding: 15px;" onclick="viewControlPanel()" />
				</div>
				<div class="columms">
					<i class="fas fa-cogs" style="color: lightgreen; font-size:28px; float:left; padding-right: 7px;"></i>
					<h3 th:text="#{index.panel3.control}"></h3>
					<p id="introduction" th:text="#{index.panel3.control.description}" style="padding:10px"></p>
				</div>
			</div>

			<br>

			<div class="flex-container transparency panel"  onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
				<div class="columms"  id="paragraph2">
					<i class="fas fa-wifi" style="color: deeppink; font-size:28px; float:left; padding-right: 7px;"></i>
					<h3 th:text="#{index.panel4.shipping}"></h3>
					<p id="introduction" th:text="#{index.panel4.shipping.description}"  style="padding:10px"></p>
				</div>
				<div class="columms"  id="secondImage">
					<img src="../img/pet-tag-qr-2.png" class="img-fluid" id="pet-tag-2" alt="Pet-QR-Tag" style="padding:10px" />
				</div>
			</div>
			
			<div class="flex-container transparency panel" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
				<div class="columms">
					<img src="../img/qrTagfreezer.jpg" alt="Pet QR tag to the refrigerator" class="img-fluid" style="padding: 15px;" />
				</div>
				<div class="columms">
					<i class="fas fa-cogs" style="color: lightgreen; font-size:28px; float:left; padding-right: 7px;"></i>
					<h3 th:text="#{index.panel6}"></h3>
					<p id="introduction" th:text="#{index.panel6.freezer.description}" style="padding:10px"></p>
				</div>
			</div>
			
			<br>
			<br>
			
			<div class="transparency panel" style="text-align:center; display:flex; flex-direction:column;" onmouseout="removeBounce(this)" onmouseover="addBounce(this)">
				<span class="badge badge-lg badge-info form-group" style="margin: 0 auto; font-size:16px" th:text="#{index.panel5.starnow}"></span>
				<br>
				<button class="btn btn-lg btn-warning form-group" onclick="window.location.href='/pricing'" style="color: black; margin: 0 auto;" onmouseout="removeBounce(this)" onmouseover="addBounce(this)"><strong th:text="#{index.panel5.buttonstart}">Comience ya mismo</strong></button>
				<br>
				<small style="color: pink; margin: 0 auto;" class="form-group" th:text="#{index.panel5.starnow.description}"></small><br>
			</div>
			
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
				</div>
		<!-- End background tiles -->

	</div>
<!-- Twitter library start -->
<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>
<!-- Twitter library end -->

<script>
	function viewControlPanel() {
		$
				.alert({
					title : "Panel de Control",
					columnClass : 'col-md-8',
					content : "<html><body><div><img src='/img/controlPanel.png' /><br><p>Como se observa en el último código, el botón de alerta está en verde ya que el mismo se declaró como perdido.</p></div></body></html>"
				});
	}
</script>

<script>
	function addRubberBand(id) {
		$(id).addClass('animated rubberBand');
	}

	function removeRubberBand(id) {
		$(id).removeClass('animated rubberBand');
	}
</script>

<script>
	function viewPdf() {
		window.location.href = "/img/petQR_example.pdf";
	}
	function changeCursorPdf() {
		var pdf = document.getElementById("pdfimage");
		pdf.style.cursor = "pointer";
	}
</script>

	<!-- Template footer -->
	<footer th:replace="default :: footer"></footer>

</body>
</html>