<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="default :: header"></head>
<body onload="instructions()">
	<nav th:replace="default :: bar"></nav>
	<div class="container">
		<div class="container-fluid" id="mainPaymentSuccessDiv" style="margin-top:30px;">
			<h3 style="text-align:center; margin-top:15px;">Estado del pago.</h3>
			<h4 th:text="'Hola ' + ${user.name} + ','"></h4>
			<p style="color:lightgreen">Su pago fue procesado con <strong>Éxito! <i class="fas fa-check"></i></strong>.</p>
			<p style="text-align:justify"
				th:text="'Revise en la misma cuenta de mail que colocó para recibir el comprobante de pago de MercadoPago, recibirá un mail con el código, si no lo recibió, porque se equivocó ingresando el mail, o sólo no llegó, no se preocupe envíenos un mail con usuario, horario de pago y fecha, o sino cópie en algun lugar seguro el código alfanumérico que aparece arriba del QR en esta misma página.'"></p>
				
				<label for="userMail"><i class='far fa-envelope' style="color:lightgreen"></i> Cuenta de email proporcionada:</label>
				<br>
				<span id="userMail" class='badge badge-lg badge-success' style="margin-left:20px" th:text="${user.email}"></span>
				<br>
				<br>
				<label for="helpMail"><i class='fas fa-wrench' style="color:coral"></i> Mail de reclamos:</label>
				<br>
				<a id="helpMail" style="margin-left:20px" href='mailto:info@molokotech.com'><span class='badge badge-lg badge-danger'>info@molokotech.com</span></a>
				<br>
				<br>
			<p>Recuerde que para poder ingresar al link de arriba nombrado
				necesita tener una cuenta.</p>

			<p>Este es el código sin diseño, sin embargo si lo intenta leer le debería
				marcar error ya que al momento no está activado.</p>
				
				<p>Para activarlo vaya al siguiente link (previamente logueado)
			<a href="https://pet-cloud-service.herokuapp.com/login"><span class="badge badge-lg badge-success">Activar Código QR</span></a></p><br>
			
			<h5 style="color:lightgreen">Manualmente de la siguiente manera</h5>
				<p><i class="fas fa-long-arrow-alt-right"></i> Ingrese a su cuenta recientemente creada Pet-QR</p>
				<p><i class="fas fa-long-arrow-alt-right"></i> Activar un QR-prepago</p> 
				<p><i class="fas fa-long-arrow-alt-right"></i> Ingrese el código de más de 20 digitos que le debió llegar al mail.</p>
				<p><i class="fas fa-long-arrow-alt-right"></i> complete el formulario lo más que pueda.</p>
			
		</div>
		<br><br><br><br><br>
	</div>
	<footer th:replace="default :: footer"></footer>
<script>
function instructions(){
	$.alert({
		type:"blue",
		title:"Atención",
		content: "Por favor, lea la siguiente pantalla para entender las instrucciones que son muy sencillas, a su vez copie en algún lugar el código para que quede seguro en otro lugar más ademas de su email."
	});
}
</script>
</body>
</html>