<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="default :: header">
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/prepaid-qr.css" />
</head>

<body onload="reciveIdFromAccount()">
	<nav th:replace="default :: bar"></nav>
	<br>
	<br>
	<div>
		<div id="prepaidQrFormDiv" class="container-fluid" style="width:70%;">
		
			<!-- Start transparency -->
			<div class="backgound-colors card">
<!-- 			<i class="fas fa-paw" style="font-size:32px; float:left"></i> -->
			<h2 id="titleActivateQR" class=" card-header white-text aqua-gradient" th:text="#{prepaidqr.title}"></h2>
		<div style="padding: 40px;">
			<form action="#" th:action="@{/prepaid-qr}" th:object="${prepaidQR}"
				method="POST">
			<label class="form-group" for="id" ><i style="color:LimeGreen" class="fas fa-key"></i> Ingrese Código de activación</label><br>
				
				<input type="text" th:field="*{id}" id="id" onkeyup="findPrepaidQrStrBase64()" required /> <br>
				
				<label class="form-group"><i style="color:LimeGreen;" class="fas fa-paw"></i></label> <small
					style="color: deeppink" th:text="#{prepaidqr.codedetails}"></small> <label>
					<i style="color:LimeGreen;" class="fas fa-paw"></i></label> <br>
					<small >If the code is correctly typed, you will see just for a moment a preview of you QR code without data.</small><br><br>
					
					<div><label class="form-group" for="selledOnline"><i style="color:LimeGreen" class="fas fa-envelope"></i> Email:</label><br>
						<input type="text" th:field="*{selledOnline}" id="selledOnline" /><br>
						<p style="color:deeppink" th:text="#{prepaidqr.activationemail}"></p><br>
					</div>
					<div th:if="${errorMailAsociated}" class="alert alert-danger" style="color:DarkRed;text-shadow:0px 1px black; ">    
                        <p  th:text="#{prepaidqr.errormailassociatte}"></p>
                    </div>
<!-- 				<div id="resultDivSellPoint"></div> -->
				<br>
				<div id="resultImage"></div>
				<br>
				
				<h6>With witch one do you wanna start on? <i style="color:Gold; font-weight:bold" class="far fa-smile-wink"></i></h6>
				<!-- Start radio buttons choose type, dependency from animalTypes -->
				<ul class="list-unstyled" style="display:flex; justify-content: space-around; width:100%;">
				  <li th:each="i : ${prepaidQR.animalTypes}">
						<input type="radio" th:field="*{typeAnimal}" th:value="${i}" />
					    <label th:for="${#ids.prev('typeAnimal')}" th:text="${i}">Wireframe</label>
				  </li>
				</ul>
				<!-- End radio buttons choose type, dependency from animalTypes and typeAnimal (a void String) -->
				
				<button id="activateButtonQR" class="btn btn-info" type="submit" th:text="#{prepaidqr.activatebutton}"></button>
			</form>
			
			</div>
			<!-- End transparency -->
			<br> <br> <br> <br> <br> <br>
		</div>
	</div>
	<footer th:replace="default :: footer"></footer>
</body>


<script>
	function findPrepaidQrStrBase64() {
		var xhr = new XMLHttpRequest();
		var url = "/findPrepaidQrByIdStrBase64";
		var id = document.getElementById("id").value;

		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-type",
				"application/x-www-form-urlencoded");
		xhr.send("id=" + id);

		xhr.onreadystatechange = function() {
			if (xhr.readyState == 4 && xhr.status == 200) {
				var createImage = document.createElement("img");
				var divResult = document.getElementById("resultImage");
				var attribute = document.createAttribute("src");
				var attributeClass = document.createAttribute("class");
				attributeClass.value = "img-fluid";
				createImage.setAttributeNode(attributeClass);
				attribute.value = "data:image/png;base64, " + xhr.responseText;
				createImage.setAttributeNode(attribute);
				var shadowStyle = document.createAttribute("style");
				shadowStyle.value = "box-shadow: 0px 0px 45px black; border-radius: 10px";
				createImage.setAttributeNode(shadowStyle);

				divResult.appendChild(createImage);

				document.onkeydown = function() {
					divResult.removeChild(createImage);
					divResult.removeChild(createImage);
				}
			}
		}
	}

	/* Disabled onclick right now */
	function findPrepaidQrSellPoint() {
		var xhr = new XMLHttpRequest();
		var url = "/findPrepaidQrByIdSellPoint";
		var id = document.getElementById("id").value;

		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-type",
				"application/x-www-form-urlencoded");
		xhr.send("id=" + id);

		xhr.onreadystatechange = function() {
			if (xhr.readyState == 4 && xhr.status == 200) {

				var resultDivSellPoint = document
						.getElementById("resultDivSellPoint");

				resultDivSellPoint.innerHTML = "<h5>Punto de venta</h5><h1><span class='badge badge-lg badge-danger'><i class='fas fa-medkit'></i>  "
						+ xhr.responseText
						+ "  <i class='fas fa-heartbeat'></i></span></h1>";
			}

		}

	}

	/* Unused right now, because it's usining server side directly from account page, this code is ajax */
	/* Javascript transaction from account html to prepaid-qr.html by ajax Get, getting idValue from url */
	function reciveIdFromAccount() {
		var urlString = window.location.href;
		var url = new URL(urlString);
		var idValue = url.searchParams.get("idValue");
		var idInput = document.getElementById("id");
		idInput.value = idValue;
		
		var selledOnlineValue = url.searchParams.get("selledOnlineValue");
		var selledOnlineInput = document.getElementById("selledOnline");
		selledOnlineInput.value = selledOnlineValue;
		
		if(idValue != null || selledOnlineValue != null){
			var titleActivateQR = document.getElementById("titleActivateQR");
			titleActivateQR.innerHTML = "Actualizar código QR";
			
			idInput.readOnly = true;
			idInput.style.backgroundColor = "turquoise";
			selledOnlineInput.readOnly = true;
			selledOnlineInput.style.backgroundColor = "turquoise";
			
			var activateButtonQR = document.getElementById("activateButtonQR");
			activateButtonQR.innerHTML = "Actualizar datos";
			
		}
		/* Backup this line pretty important, delete quotes*/
		//     	idInput.value = idValue.replace(/["']/g, "");
		//     	idInput.value = idValue.replace(/["']/g, "");
	}
</script>

</html>