<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="default :: header"></head>
<body onload="reciveIdFromAccount()">
	<nav th:replace="default :: bar"></nav>
	<br>
	<br>
	<div class="container">
		<div id="prepaidMainDiv" class="container-fluid">
			<h2 id="titleActivateQR">
				<i class="fas fa-paw"></i> Activar QR <i class="fas fa-qrcode"></i>
			</h2>

			<br>

			<form action="#" th:action="@{/prepaid-qr}" th:object="${prepaidQR}"
				method="POST">
			<label class="form-group" for="id">Ingrese código de activación</label><br>
				<input type="text" th:field="*{id}" id="id"
					onkeyup="findPrepaidQrStrBase64()"
					required /> <br> <label class="form-group"><i class="fas fa-paw"></i></label> <small
					style="color: turquoise">Código alfanumérico único de 20
					caractéres impreso en la cinta.</small> <label><i
					class="fas fa-paw"></i></label> <br>
					
					<div><label class="form-group" for="selledOnline">Email:</label><br>
						<input type="text" th:field="*{selledOnline}" id="selledOnline" /><br>
						<small style="color: turquoise">Casilla de Mail de MercadoPago donde le llegó el código, puede ser diferente al de su cuenta.</small>
					</div>
					<div th:if="${errorMailAsociated}" class="alert alert-danger" style="color:DarkRed;text-shadow:0px 1px black; ">    
                        <p  th:text="${errorMailAsociated}"></p>
                    </div>
<!-- 				<div id="resultDivSellPoint"></div> -->
				<br>
				<div id="resultImage"></div>
				<br>
				<button id="activateButtonQR" class="btn btn-info" type="submit">Activar QR</button>
			</form>
			<br> <br> <br> <br> <br> <br>
		</div>
	</div>
	<footer th:replace="default :: footer"></footer>
</body>


<script>
	function findPrepaidQrStrBase64() {
		var xhr = new XMLHttpRequest();
		var url = "/findPrepaidQrByIdStrBase64";
		var id = document.getElementById("id").value;

		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-type",
				"application/x-www-form-urlencoded");
		xhr.send("id=" + id);

		xhr.onreadystatechange = function() {
			if (xhr.readyState == 4 && xhr.status == 200) {
				var createImage = document.createElement("img");
				var divResult = document.getElementById("resultImage");
				var attribute = document.createAttribute("src");
				var attributeClass = document.createAttribute("class");
				attributeClass.value = "img-fluid";
				createImage.setAttributeNode(attributeClass);
				attribute.value = "data:image/png;base64, " + xhr.responseText;
				createImage.setAttributeNode(attribute);
				var shadowStyle = document.createAttribute("style");
				shadowStyle.value = "box-shadow: 0px 0px 45px black; border-radius: 10px";
				createImage.setAttributeNode(shadowStyle);

				divResult.appendChild(createImage);

				document.onkeydown = function() {
					divResult.removeChild(createImage);
					divResult.removeChild(createImage);
				}
			}
		}
	}

	/* Disabled onclick right now */
	function findPrepaidQrSellPoint() {
		var xhr = new XMLHttpRequest();
		var url = "/findPrepaidQrByIdSellPoint";
		var id = document.getElementById("id").value;

		xhr.open("POST", url, true);
		xhr.setRequestHeader("Content-type",
				"application/x-www-form-urlencoded");
		xhr.send("id=" + id);

		xhr.onreadystatechange = function() {
			if (xhr.readyState == 4 && xhr.status == 200) {

				var resultDivSellPoint = document
						.getElementById("resultDivSellPoint");

				resultDivSellPoint.innerHTML = "<h5>Punto de venta</h5><h1><span class='badge badge-lg badge-danger'><i class='fas fa-medkit'></i>  "
						+ xhr.responseText
						+ "  <i class='fas fa-heartbeat'></i></span></h1>";
			}

		}

	}

	/* Javascript transaction from account html to prepaid-qr.html by ajax Get, getting idValue from url */
	function reciveIdFromAccount() {
		var urlString = window.location.href;
		var url = new URL(urlString);
		var idValue = url.searchParams.get("idValue");
		var idInput = document.getElementById("id");
		idInput.value = idValue;
		
		var selledOnlineValue = url.searchParams.get("selledOnlineValue");
		var selledOnlineInput = document.getElementById("selledOnline");
		selledOnlineInput.value = selledOnlineValue;
		
		if(idValue != null || selledOnlineValue != null){
			var titleActivateQR = document.getElementById("titleActivateQR");
			titleActivateQR.innerHTML = "Actualizar código QR";
			
			idInput.readOnly = true;
			idInput.style.backgroundColor = "turquoise";
			selledOnlineInput.readOnly = true;
			selledOnlineInput.style.backgroundColor = "turquoise";
			
			var activateButtonQR = document.getElementById("activateButtonQR");
			activateButtonQR.innerHTML = "Actualizar datos";
			
		}
		/* Backup this line pretty important, delete quotes*/
		//     	idInput.value = idValue.replace(/["']/g, "");
		//     	idInput.value = idValue.replace(/["']/g, "");
	}
</script>

</html>