<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="default :: header"></head>
<body onload="onLoadSecurityAdvice()">


	<nav th:replace="default :: bar"></nav>
	<div id="fullcontainer" class="container" style="padding: 30px; box-shadow: 0px 0px 25px black;">
		
		<!-- Columns sell flexbox start -->
		<div class="pricingdiv transparency" style="text-shadow: 0px 0px 0px black; padding-top: 30px;">
		    <ul class="theplan" style="background-color:white">
		        <li class="title"><img src="../img/prepaidQR1366x700directSell.jpg"  class="img-fluid" style="border:2px solid white" /><br />Pet-QR tag</li>
		        <li><b>Método:</b> Venta directa</li>
		        <li><b>Tamaños:</b> 3,5 x 3,5 cm</li>
		        <li><b>Gastos mensuales:</b> Ninguno</li>
		        <li><b>Envío:</b> A cargo del comprador</li>
		        <li><b>Límites:</b> Funciona para cualquier país, pero se envía solo Argentina</li>
		        <li><b>Capacidades:</b> Lat. long. y hora de última lectura</li>
		        <li><b>Mapa:</b> Mapa de hogar del animal</li>
		        <li><a class="pricebutton" href="/online-checkout" target="_blank" rel="nofollow"><i class="fas fa-shopping-cart"></i> Check Out</a></li>
		    </ul>
		    <ul class="theplan" style="background-color:white">
		        <li class="title"><img src="../img/prepaidQR1366x900.jpg"  class="img-fluid" style="border:2px solid white" /><br />Pet-QR online</li>
		        <li><b>Método:</b> Descarga Online</li>
		        <li><b>Tamaños:</b> 3,5 x 3,5 / 4,5 x 4,5 / 6,5 x 6,5 cm</li>
		        <li><b>Gastos mensuales:</b> Ninguno</li>
		        <li><b>Envío:</b> Free, entrega inmediata al mail</li>
		        <li><b>Límites:</b> Funciona para y en cualquier país</li>
		        <li><b>Capacidades:</b> Lat. long. y hora de última lectura</li>
		        <li><b>Mapa:</b> Mapa de hogar del animal</li>
		        <li><b>Modelos:</b> descarga ilimitada actualmente +20 modelos, un modelo nuevo por semana</li>
		        <li><b>Impresión:</b> Instrucciones e ideas</li>
		    	<li><b>Transferencia de código a otro usuario:</b> Sí</li>
		        <li><b>Historia Clínica:</b> Sí</li>
		        <li><b>BD perros perdidos:</b> Sí</li>
		        <li><b>Garantía:</b> 30 días devolución de dinero</li>
		        <li><a class="pricebutton" href="/online-checkout" rel="nofollow"><i class="fas fa-shopping-cart"></i> Check Out</a></li>
		        </ul>
		    <ul class="theplan" style="background-color:white">
		        <li class="title"><img src="../img/prepaidQR1366x900onlineSell.jpg"  class="img-fluid" style="border:2px solid white" /><br />Descarga online Test</li>
		        <li><b>Método:</b> Pet-QR online test</li>
		        <li><b>Duración:</b> 30 días libres de uso</li>
		        <li><b>Limitaciones:</b>Mismo uso que el online pero "No" hay transferencias, es por tiempo limitado, y no se puede tener más codígos asignados</li>
		        <li><b>Garantía:</b> Ninguna</li>
		        <li><a class="pricebutton" href="/temporal-qr" rel="nofollow"> Check Out</a></li>
		    </ul>
		    <br><br><br><br>
		    <!-- Advice to be logued start -->
		    	<p th:if="${currentUser} == Invitado" style="color: pink; background: rgba(0, 0, 0, 0.5); border-radius: 5px; padding: 5px;">Checkout - Recuerde estar logueado para comprar. <i class="fas fa-user-times"></i> ==>   <a href="/login"><i class="fas fa-user" style="color:lightgreen"></i> Login</a></p>
				<p th:unless="${currentUser} == Invitado" style="color: LimeGreen; background: rgba(0, 0, 0, 0.5); border-radius: 5px; padding: 5px;">Usted está logueado y listo para comprar. <i class="fas fa-user-check"></i></p>
			<!-- Advice to be logued end -->
		</div>
		
		<br>
		<br>
		<br>
		<br>

			<!-- Columns sell flexbox end -->
		</div>
	<footer th:replace="default :: footer"></footer>
</body>
						<script type="text/javascript">
 							function onLoadSecurityAdvice() {
 								$
 										.alert({
 											columnClass : "col-md-6",
 											type : "blue",
 											theme:"bootstrap",
 											title : "<i style='color:LimeGreen' class='fas fa-shield-alt'></i> Medidas de seguridad",
 											content : "<html><body><p style='text-align:justify'>A pesar que nuestra web utiliza <i style='color:LimeGreen' class='fas fa-lock'></i> SSL (Cifrado de datos absolutos entre los dos puntos), nosotros no utilizamos ni capturamos ningún tipo de datos de los medios de pago, por ende la transacción será por MercadoPago, TodoPago o el medio que haya elegido, esto con el fin de darle seguridad y confianza al cliente.</p><br><label style='font-weight:bold'><img src='../img/iconoPet75.png' style='height:30px;width:30px'> Pet-QR</label></body></html>"
 										});
 							}
 						</script>
</html>