<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="default :: header"></head>

<body>
    <nav th:replace="default :: bar"></nav>
    <div id="container" >
        <div class="container-fluid center-block" style="display:inline-block;  margin: 0 auto;">
            <div class="column order-1 containerProduct" id="col1">
                <img src="../img/pet-qr.png" class="img-fluid imgSelected qrImages"/>
                <div class="transparency">
                    <div class="rowPadding">• Etiqueta QR física<i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Tamaño QR 3x3 cm <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Sin gastos mensuales <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Datos básicos <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Historia clínica <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Salud en general <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Alimentación <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Medios de contacto <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Mapa de hogar del animal <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Lat. long. y hora de última lectura <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Descarga ilimitada de 5 modelos <i class="fas fa-check" style="color:lightgreen;"></i></div>
                	<div class="rowPadding">• Posibilidad de tener más de una copia del código <i class="fas fa-check" style="color:lightgreen;"></i></div>
            		<a onclick="moreInfoPetQr()"><span class="badge badge-pill badge-danger moreInfo">+ info</span></a>
                </div>
                <div><button onclick="" class="btn btn-md btn-info buttons">Puntos de venta</button></div>
            </div>
            <div class="column order-2 containerProduct" id="col2" style="position:relative;top:0;left:0;" >
                <img src="../img/pet-qr-online.png" class="img-fluid imgSelected qrImages" style="position:relative;top:0;left:0;"/>
            <img alt="Recomendado por Pet-QR" src="../img/recommended.png" style="position:absolute; left:150px;">
                <div class="transparency">
                    <div class="rowPadding">• Etiqueta QR descarga<i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Tamaños 3x3, 4x4, 5x5, 6x6 cm <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Sin gastos mensuales <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Sin tiempos de espera, Lo querés lo tenés <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Configurable a cualquier país del mundo <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Datos básicos <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Historia clínica <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Salud en general <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Alimentación <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Medios de contacto <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Mapa de hogar del animal <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Lat. long. y hora de última lectura <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Descarga ilimitada de 20 modelos <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Instrucciones de impresión <i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">• Posibilidad de tener más de una copia del código <i class="fas fa-check" style="color:lightgreen;"></i></div>
                <a onclick="moreInfoPetQrOnline()"><span class="badge badge-pill badge-danger moreInfo">+ info</span></a>
                </div>
                <!-- MercadoPago start -->
                <a mp-mode="dftl" style="font-family:'Mali', cursive !important; margin-bottom:15px;" href="https://www.mercadopago.com/mla/checkout/start?pref_id=310115679-ccf601ae-4b1d-44e6-b218-e1077b8433a8" name="MP-payButton" class='blue-ar-l-rn-arall'>Comprar</a>
				<script type="text/javascript">
					(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
				</script>
                <!-- MercadoPago ends -->
            </div>
            <div class="column order-3 containerProduct" id="col3">
                <img src="../img/vetCloud.png" class="img-fluid imgSelected" style="border-radius:7px;"/>
                <div class="transparency">
                    <div class="rowPadding">100 Hist. clínicas cloud<i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">Schedule de vacunación y visitas Vet.<i class="fas fa-check" style="color:lightgreen;"></i></div>
                    <div class="rowPadding">Descargas de H.C. a PDF<i class="fas fa-check" style="color:lightgreen;"></i></div>
                	<span class="badge badge-pill badge-danger moreInfo">+ info</span>
                </div>
                <div><button onclick="" class="btn btn-md buttons">Contratar</button></div>
            </div>
        </div>
    <br><br><br><br><br>
    </div>
    <footer th:replace="default :: footer"></footer>
</body>

</html>