<html xmlns:th="http://www.thymeleaf.org">
<header>
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/recovery-pass.css" />
</header>
<body>
	<nav th:replace="default :: bar"></nav>
	<div class="container">
		<div class="container-fluid" id="recoveryPassMainDiv">
			<div id="dataRecoveryPass">
			<h4>Cambio de Contraseña:</h4>
			<hr style="border: 1px solid DarkViolet">
				<form action="#" th:action="@{/recovery-pass}" method="POST"
					th:object="${user}">
					<div class="form-group">
						<label for="password">Nueva password</label> <input type="text"
							th:id="password" th:name="password" class="form-control">
					</div>

					<div class="form-group">
						<label for="repeatPassword">Repetir password</label> <input
							type="text" th:id="copyPasword" th:name="copyPassword"
							class="form-control">
					</div>
					<div class="form-group">
						<input type="hidden" th:field="*{id}">
					</div>
					<div>
						<button class="btn btn-lg btn-warning" type="submit">Enviar</button>
					</div>
					<br>
					<div th:if="${success}" class="alert alert-success" id="success">El
						cambio se realizó con éxito</div>
					<div th:if="${problem}" class="alert alert-danger" id="problem">Hubo un problema intentando cambiar la contraseña</div>

				</form>
			</div>
		</div>
	</div>
	<footer th:replace="default :: footer"></footer>
</body>

</html>