<html xmlns:th="http://www.thymeleaf.org">
<header>
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/send-link.css" />
</header>

<body>
	<nav th:replace="default :: bar"></nav>
	<div>
		<div class="card" id="sendLinkMainDiv">
			<h3 class="card-header blue-gradient white-text rounded" th:text="#{sendlink.state}">Estado:</h3>
			<div id="dataLinkDiv">
				<p th:text="#{sendlink.emailverify}">Verifique en su correo el link de cambio de contraseña, una vez que haya cambiado la misma, ingrese al link de abajo para loguearse.</p>

				<a style="font-size:24px; color:deeppink" href="/login">Login</a>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="default :: footer"></footer>
</body>

</html>