<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="default :: header"></head>

<body>
	<nav th:replace="default :: bar"></nav>

	<div class="container">
		<div id="signUpFormMainDiv" class="container-fluid">
		<div class="transparencyWithoutPadding" style="padding:10px">
			<H5>Registro de usuario</H5>
			<hr style="border: 1px solid DarkViolet !important;">
			<form class="needs-validation" action="#" th:action="@{/sign-up}"
				th:object="${user}" method="POST">
				<div class="row" id="mainContentDivsSignUp">
					<div class="col">
						<div class="form-group">
							<label for="name"><i class="far fa-user" style="color:turquoise"></i> Usuario</label> <input
								type="text" th:field="*{name}" id="name" name="name"
								placeholder="Usuario" class="form-control" required>
						</div>
						<div th:if="${errorMsg} != null" class="alert alert-danger"
							style="text-shadow: 0px 0px 3px white; color: red;">Usuario
							no disponible.</div>

						<div class="form-group">
							<label for="password"><i class="fas fa-unlock" style="color:turquoise"></i>
								Password</label> <input type="password" th:field="*{password}"
								maxlength="12" minlength="4" id="password" name="password"
								placeholder="Password" class="form-control" required>
							<div id="messages"></div>
							<small style="color:turquoise">El formato debe ser entre 4 y 8 caractéres,
								letras, números o símbolos, combinados o sólos.</small>
						</div>

						<div class="form-group">
							<label for="email"><i class="fas fa-at" style="color:turquoise"></i> Email</label> <input
								type="email" th:field="*{email}" placeholder="Email"
								class="form-control" required />
						</div>

						<div th:if="${errorDuplicateEmailMsg} != null" class="alert alert-danger"
							style="text-shadow: 0px 0px 3px white; color: red;">Email ya registrado.</div>

						<div class="form-check">
							<input id="termsAndConditionInput" type="checkbox"
								class="form-check-input" required> <label
								class="form-check-label" onclick="termsAndCondition()"><small>Acepto
									los terminos y condiciones</small></label>
						</div>
						<br>

						<div class="form-group">
							<button type="submit" class="btn btn-info">Registrarse</button>
						</div>
					</div>

					<div class="col">
						<img alt="No lo pierdas" src="../img/abandonDog.jpg"
							class="fluid-content img-fluid" style="border-radius: 10px;" />
					</div>
				</div>

			</form>
			</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
		</div>
	</div>
	<footer th:replace="default :: footer"></footer>
</body>

</html>