<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:include="default :: header"></div>
	<link rel="stylesheet" type="text/css" href="../css/success.css" />
</head>

<body>
    <nav th:replace="default :: bar"></nav>
    <div class="container">
    <br>
    <div id="wellcomeContent" class="container-fluid" style="padding-bottom:50px; color:black; text-shadow:1px 1px black;" >
        <h3> <span>Bienvenido</span> <span th:text="${user.name}" style="color:fuchsia;"></span></h3>
<br>
        <p>Lets started choosse between this two options.</p>
        
        <div style="display:flex">
	        <div class="halfCol"><p style="color:Gold">1) Buy a QR code and activate it with your account.</p>
	        	<button class="btn btn-lg purple-gradient" onclick="window.location.href = '/online-checkout'">Buy QR code</button>
	        </div>
	       	<div class="halfCol"><p  style="color:LimeGreen">2) Try a QR code for 30 days.</p>
	       		<button class="btn btn-lg purple-gradient" onclick="window.location.href = '/temporal-qr'">Try QR code</button>
	       	</div>
        </div>
    </div>
</div>
    <footer th:replace="default :: footer"></footer>
</body>

</html>