<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="default :: header"></head>
<body>
	<nav th:replace="default :: bar"></nav>
	<div class="container">
		<div class="container-fluid" >
			<div id="dataTemporalDiv" class="transparency">
				<h3 th:text="#{temporalqr.title}">Alta QR de prueba.</h3>
				<hr style="border: 1px solid white !important;">
				<div class="transparency" style="padding:10px">
					<label for="username"><i class="fas fa-user" style="color: coral;"></i> <span th:text="#{temporalqr.assignuser}">Usuario a asignar código:</span></label>
					<p th:text="${user.name}" id="username" style="color:LimeGreen"></p>
				</div>
				
				<br>
				
				<p th:text="#{temporalqr.subtitletable}">Va a adjuntarse a su cuenta un qr de prueba, tenga en cuenta
					los siguientes datos:</p>
				<ol>
					<li th:text="#{temporalqr.li1}">Para poder adquirir un QR de prueba es necesario sí o sí
						una cuenta.</li>
					<li th:text="#{temporalqr.li2}">La cuenta no debe tener ningún QR activo.</li>
					<li th:text="#{temporalqr.li3}">Los QR de prueba duran un mes exacto sin excepción.</li>
					<li th:text="#{temporalqr.li4}">Los QR de prueba son de prueba por ende a pesar que se
						pague pasado el mes se elimina, por ende solo hay que comprarloy
						recibir otro código QR.</li>
					<li th:text="#{temporalqr.li5}">Los QR de prueba no se pueden vender ni transferir.</li>
				</ol>

				<button th:text="#{temporalqr.addtemporalqrbutton}" onclick="createTemporalQR()" class="btn btn-md btn-success" style="margin: 0 auto; text-shadow: 1px 1px black;" >Adquirir ahora</button>
				
				<br>
				<br>
				<br>
				<br>
				<br>

				<script th:inline="javascript">
				               function createTemporalQR(){
				            	  var xhr = new XMLHttpRequest();
				            	  var url = "/create-pp-automatic-temp-db?userInString="+[[${user.name}]];
				            	  xhr.open("GET", url, true);
				            	  xhr.send();
				            	  
				            	  xhr.onreadystatechange = function () {
				            			if (xhr.readyState == 4 && xhr.status == 200) {
				            				
				            			var	data = xhr.responseText;
				            				$.confirm({
				            					type:"blue",
				            					title: "Respuesta de nuestro servidor",
				            					content: data
				            				});
				            			}
				            	  	}
				              	 }
				               
				               </script>
			</div>
		</div>
	</div>
	<footer th:replace="default :: footer"></footer>
</body>

</html>