<html>

<head th:replace="default :: header"></head>

<body>
    <ul th:replace="default :: bar"></ul>
    <br>
	<div class="container">
	    <div id="vetCloudMainContent" class="container-fluid">
	        <div style="padding:30px;">
	        <h3 style="text-align: center;">Vet-Cloud</h3>
	        <p style="color:orange">Esta página no está disponible al momento ya que continúa en desarrollo, su fecha aproximada de lanzamiento
	            será en Enero 2019.</p>
	        <h6>Funciones de Vet-Cloud</h6>
	        <ol>
	            <li>Diseñado específicamente para Veterinarias</li>
	            <li>Control deHistorias clínicas en la Nube</li>
	            <li>Acceso desde cualquier lugar donde haya internet</li>
	            <li>Posibilidad de compartir los datos con otras sucrsales</li>
	            <li>Control de Stock tanto de medicamentos, comidas y/o elementos varios de venta</li>
	            <li>Gestión de turnos con recordatorios por email</li>
	            <li>Historias clínicas amplias con un acceso directo creado por Código QR para su fácil acceso.</li>
	            <li>Posibilidad de descarga de la misma en extensión PDF.</li>
	        </ol>
	        </div>
	        <br>
	        <div style="margin:0 auto;">
	            <img src="../img/underConstruction.png" class="img-fluid" />
	        </div>
	    </div>
   </div>

    <footer th:replace="default :: footer"></footer>
</body>

</html>