<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="default :: header"></div>
	<script type="text/javascript" src="../js/parallax.js"></script>
</head>
<body>
<nav th:replace="default :: bar"></nav>

<!-- Start fragment -->
<div id="detaillsDiv" th:fragment="horseFragment" class="transparencyWithoutPaddin" style="width: 100%; padding:15px; text-shadow: 1px 1px black;">
		
		<!-- Separate The div of the image header to the form native start -->
		<div class="white-transparency rounded" style="padding:30px;">
		<h4>
			<span class="badge badge-danger" th:text="${prepaidQR.id}" id="id"></span>
		</h4>
		<p th:if="${prepaidQR.userName} != null">
			<strong class="subtitles" th:text="#{id.assignedusername}">Usuario asignado: </strong><strong><span class="response" th:text="${prepaidQR.userName}"></span></strong></p>
		
		<!-- QR miniature start -->
		<img th:src="'data:image/png;base64,'+${prepaidQR.strBase64}" style="width:100px; height: 100px; border: 2px solid black">
		<br>
		<!-- QR miniature end -->
		
		<!-- Share buttons start -->
					<div th:if="${user?.setup?.showSharebuttons}" style="display:flex !important;">
						<div style="padding:3px; float: left;" class="fb-share-button" th:data-href="'https://pet-qr.com/id/'+${prepaidQR.id}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpet-qr.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
						<!-- Your like button code -->
						<div style="padding:3px;float: left" class="fb-like" data-href="https://pet-qr.com" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
					</div>
		<!-- Share buttons end -->
		
		<br>
		<h5>
			<i class="fas fa-paw" style="color:LimeGreen"></i> <strong><span class="subtitles">Horse</span></strong>
		</h5>
		
		<hr style="border: 10px solid blue !important">
		
		<div style="transform: rotate(-8deg); display:flex; justify-content:center; max-width:200px; width:100%; max-height:200px; height:100%; box-shadow: 0px 0px 15px black; border-radius: 10px; background-image: url('../img/huesitos.jpg'); background-repeat: repeat;">
			<div style="margin: auto">
				<img th:if="${prepaidQR.horse.resultBase64Avatar == null}" alt="" src="../img/withoutPhoto.png" class="img-thumbnail" style="width:150px; height:150px;" />
				<img th:unless="${prepaidQR.horse.resultBase64Avatar == null}" th:src="${prepaidQR.horse.resultBase64Avatar}" style="box-shadow: 0px 0px 15px black; border-radius: 7px;" class="img-thumbnail"/>
			</div>
		</div>
		
		<br>
		
		<p th:if="${user?.owner?.residence} != null">
			<strong class="subtitles" th:text="#{id.country}">País:</strong> <span class="response" th:text="${user?.owner?.residence}"></span></p>
		<p th:if="${prepaidQR?.horse?.typeHorse} != null">
			<strong class="subtitles" >Type</strong> <span class="response" th:text="${prepaidQR?.horse?.typeHorse}"></span></p>
		<p th:if="${prepaidQR?.horse?.breed} != null">
			<strong class="subtitles" >Breed</strong> <span class="response" th:text="${prepaidQR?.horse?.breed}"></span></p>
		<p th:if="${prepaidQR?.horse?.petName} != null">
			<strong class="subtitles" >Name</strong> <span class="response" th:text="${prepaidQR?.horse?.petName}"></span></p>
		<p th:if="${prepaidQR.horse.age} <= 2018">
			<strong class="subtitles" th:text="#{id.birthday}">Nacimimento:</strong> <span class="response" th:text="${prepaidQR?.horse?.age}"></span></p>
		<p th:if="${prepaidQR?.horse?.sex} != null">
			<strong class="subtitles" th:text="#{id.sex}">Sexo:</strong> <span class="response" th:text="${prepaidQR?.horse.sex}"></span></p>
		<p th:if="${prepaidQR?.horse?.weight} != null">
			<strong class="subtitles" >Weight</strong> <span class="response" th:text="${prepaidQR?.horse?.weight}"></span><span style="color:LimeGreen"> kg</span></p>

		<br>
		
		<h5>
			<i class="fas fa-heartbeat" style="color:LimeGreen"></i> <strong><span class="subtitles">Estado de salud</span></strong>
		</h5>
		
		<hr class="hr-black">
		
		<p th:if="${prepaidQR?.horse?.illness} != null">
			<strong class="subtitles">Illness:</strong> <span class="response" th:text="${prepaidQR?.horse?.illness}"></span></p>

		<p th:if="${prepaidQR?.horse?.medicated} == true"><strong class="Subtitles">Medicated:</strong> <span class="response">Yes</span></p>
		<p th:unless="${prepaidQR?.horse?.medicated} == true"><strong class="subtitles">Medicado:</strong> <span class="response">No</span></p>

		<table class="table rounded table-light table-bordered table-responsive">
			<thead class="table-info">
				<tr>
					<td>V. EWT</td>
					<td>V.EHV 14</td>
					<td>V. PHF</td>
					<td>V. West Nile</td>
					<td>V. Strangles</td>
					<td>V. West Flu Avert</td>
				</tr>
			</thead>
				<tr>
					<td><p th:if="${prepaidQR?.horse?.medicated} != null"
							th:text="${prepaidQR?.horse?.vaccineEwt}"></p></td>
					<td><p th:if="${prepaidQR?.horse?.medicated} != null"
							th:text="${prepaidQR?.horse?.vaccineEhv14}"></p></td>
					<td><p th:if="${prepaidQR?.horse?.medicated} != null"
							th:text="${prepaidQR?.horse?.vaccinePhf}"></p></td>
					<td><p th:if="${prepaidQR?.horse?.medicated} != null"
							th:text="${prepaidQR?.horse?.vaccineWestNile}"></p></td>
					<td><p th:if="${prepaidQR?.horse?.medicated} != null"
							th:text="${prepaidQR?.horse?.vaccineStrangles}"></p></td>
					<td><p th:if="${prepaidQR?.horse?.medicated} != null"
							th:text="${prepaidQR?.horse?.vaccineFluAvert}"></p></td>
				</tr>
		</table>
		<br>
		<p th:if="${prepaidQR?.horse?.lastVeterinaryVisit} != null">
			<strong class="subtitles">últ.visita veterinaria:</strong> <span class="response" th:text="${prepaidQR?.horse?.lastVeterinaryVisit}"></span></p>

		<p th:if="${prepaidQR?.horse?.neuteredPet} == true"><strong class="subtitles">Neutered:</strong> <span class="response">Sí</span></p>
		<p th:unless="${prepaidQR?.horse?.neuteredPet} == true"><strong class="subtitles">Neutered:</strong> <span class="subtitles">No</span></p>

		<p th:if="${prepaidQR?.horse?.pregnant} == true"><strong class="subtitles" >Pregnant:</strong> <span class="response">Sí</span></p>
		<p th:unless="${prepaidQR?.horse?.pregnant} == true"><strong class="subtitles" >Pregnant:</strong> <span class="subtitles">No</span></p>
		
		<br>

		<h5>
			<i class="fas fa-paw" style="color:LimeGreen"></i> <strong><span class="subtitles" th:text="#{id.status.title}">Estado</span></strong>
		</h5>
		<hr class="hr-black">
		<p th:if="${prepaidQR?.horse?.status} != false"><strong class="response" th:text="#{id.status.normal}">Normal</strong></p>
		<p th:unless="${prepaidQR?.horse?.status} != false" style="color: deeppink;" th:text="#{id.status.lost}">Lost, please contact his tutors.</p>
		<small style="color:deeppink">It's really strange to lost a Horse but we maintain the initial porpuse</small>
		<br>
		<h5>
			<i class="fas fa-user" style="color:LimeGreen;"></i> <strong><span class="subtitles">Contact Data</span></strong>
		</h5>
		<hr class="hr-black">
		<p th:if="${prepaidQR?.owner?.ownerName} != null">
			<strong class="subtitles" th:text="#{id.ownername}">Tutor:</strong> <span class="response" th:text="${prepaidQR?.owner?.ownerName}"></span> <span class="response" th:text="${prepaidQR.owner.ownerLastname}"></span></p>
		<p th:if="${prepaidQR?.owner?.dni} != null">
			<strong class="subtitles" th:text="#{id.idlegalnumber}">Dni:</strong> <span class="response" th:text="${prepaidQR?.owner?.dni}"></span></p>
		<p th:if="${prepaidQR?.owner?.telephone1} != null">
			<strong class="subtitles" th:text="#{id.phone1}">Teléfono:</strong> <span class="response" th:text="${prepaidQR?.owner?.telephone1}"></span></p>
		<p th:if="${prepaidQR?.owner?.telephone2} != null">
			<strong class="subtitles" th:text="#{id.phone2}">Teléfono:</strong> <span class="response" th:text="${prepaidQR?.owner?.telephone2}"></span></p>
		<p th:if="${prepaidQR?.owner?.email} != null">
			<strong class="subtitles" th:text="#{id.email}">Email:</strong> <span class="response" th:text="${prepaidQR?.owner?.email}" id="mail"></span></p>
		<p th:if="${prepaidQR?.owner?.address} != null">
			<strong class="subtitles" th:text="#{id.address}">Dirección:</strong> <span class="response" th:text="${prepaidQR?.owner?.address}"></span></p>
		<p th:if="${prepaidQR?.owner?.facebook} != null">
			<strong class="subtitles" th:text="#{id.facebook}">Facebook:</strong> <span class="response" th:text="${prepaidQR?.owner?.facebook}"></span></p>
		<p th:if="${prepaidQR?.owner?.instagram} != null">
			<strong class="subtitles" th:text="#{id.instagram}">Instagram:</strong> <span class="response" th:text="${prepaidQR?.owner?.instagram}"></span></p>
				<input type="hidden" th:value="${prepaidQR.strBase64}"
					id="strBase64"></input> <br>


		<div th:if="${user?.setup?.showSpecialInputs}">			
				<strong><h5 style="color:red">Special Inputs</h5></strong>
				<hr class="hr-black">
			<p th:if="${prepaidQR?.horse?.medicalTreatment}">
				<strong class="subtitles">Part of medical treatment</strong> <span class="response" th:text="${prepaidQR?.horse?.medicalTreatment}"></span></p>
			<p th:if="${prepaidQR?.horse?.dangerAnimal}">
				<strong class="subtitles">Danger Animal</strong> <span class="response" th:text="${prepaidQR?.horse?.dangerAnimal}"></span></p>
			<p th:if="${prepaidQR?.horse?.poorHealthCondition}">
				<strong class="subtitles">Poor health condition</strong> <span class="response" th:text="${prepaidQR?.horse?.poorHealthCondition}"></span></p>
		</div>	
		
		<div th:if="${user?.setup?.showYoutubeVideo}">
			<strong><h5 class="subtitles">Video</h5></strong>
			<hr class="hr-black">
			<iframe th:if="${prepaidQR?.dog?.videoUrl != null} and ${prepaidQR?.cat?.videoUrl != ''}" id="iframeYoutube" width="420" height="315" src="">
			</iframe>
			<p th:unless="${prepaidQR?.dog?.videoUrl != null} and ${prepaidQR?.cat?.videoUrl != ''}" style="color:red">No hay Video para mostrar</p>
		</div>
	
	<br>	
	
	<!-- Map Start -->
	<div id="testcanvas"  th:if="${user?.owner?.latitude != null && user?.setup?.showMap == true}">
		<h5 class="subtitles">Mapas</h5>
		<hr class="hr-black">
		<p style="color:LimeGreen">Dirección declarada donde reside la mascota</p> 
		<input type="hidden" th:value="${user?.owner?.latitude}" id="latitude"/>
		<input type="hidden" th:value="${user?.owner?.longitude}" id="longitude"/>
		<div id="map" class="container-fluid rounded" ></div>
	</div>
	<p th:unless="${user?.owner?.latitude != null}">Parece que no se cargaron las coordenadas, intente cargarlas desde el panel de control</p>
	<!-- Map End -->
	
	</div>
	<!-- Separate The div of the image header to the form native end -->
	
		<!-- YouTube parser start -->
		<script th:inline="javascript">
	/* Parser Videos Youtube take care from this code */
	function youtube_parser(){
			setTimeout(function(){
							var url = [[${prepaidQR?.horse?.videoUrl}]];
							var iframe = document.getElementById("iframeYoutube");
							var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
							var match = url.match(regExp);
							if (match && match[7].length == 11){
							    var b = match[7];
							    alert("https://www.youtube.com/embed/"+b)
							    iframe.src = "https://www.youtube.com/embed/"+b;
							}else{
							    console.log("Incorrect URL or a conecction problem with Youtube");
							}
		
		}, 2000);
	
	}
	</script>
	<!-- YouTube parser end -->
	
	
</div>
<!-- End fragment -->

<footer th:replace="default :: footer">
</body>

</html>