<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="default :: header"></div>
</head>
<body>
<nav th:replace="default :: bar"></nav>

<!-- Start fragment -->
<div id="detaillsDiv" th:fragment="ratFragment" class="transparencyWithoutPaddin" style="width: 100%; padding:15px; text-shadow: 1px 1px black;">
		
		<!-- Separate The div of the image header to the form native start -->
		<div class="white-transparency rounded" style="padding:30px; text-shadow: none;">
		<h4>
			<span class="badge badge-lg badge-danger" th:text="${prepaidQR.id}" id="id"></span>
		</h4>
		<p th:if="${prepaidQR.userName} != null">
			<strong class="subtitles" th:text="#{id.assignedusername}">Usuario asignado: </strong><strong><span class="response" th:text="${prepaidQR.userName}"></span></strong></p>
		
		<!-- QR miniature start -->
		<img th:src="'data:image/png;base64,'+${prepaidQR.strBase64}" style="width:100px; height: 100px; border: 2px solid black">
		<br>
		<!-- QR miniature end -->
		
		<!-- Share buttons start -->
					<div th:if="${user?.setup?.showSharebuttons}" style="display:flex !important;">
						<div style="padding:3px; float: left;" class="fb-share-button" data-href="https://pet-qr.com" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpet-qr.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
						<!-- Your like button code -->
						<div style="padding:3px;float: left" class="fb-like" data-href="https://pet-qr.com" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
					</div>
		<!-- Share buttons end -->
		
		<br>
		
		<h5>
			 <strong><span class="subtitles" >Rodents</span></strong>
		</h5>
		<hr  class="hr-black">
		<small style="color:red">Be aware that rodents and fishes doesn't have the coordinates and photo features, but you can add more than one animal to the tank</small>

		<table style="text-shadow:none" class="table table-light table-bordered rounded table-responsive{-lg}">
				<tr class="table-primary" style="border: 1px solid blue">
					<td>Housing</td>
					<td>Wheel</td>
					<td>Last cleaned</td>
					<td>Rodent Type</td>
				</tr>
				<tr>
					<td><p th:if="${prepaidQR?.hamsterFishTank?.housing} != ''" th:text="${prepaidQR?.hamsterFishTank?.housing}"></p>
						<p th:unless="${prepaidQR?.hamsterFishTank?.housing} != ''">No data</p>
					</td>
					<td><p th:if="${prepaidQR?.hamsterFishTank?.wheel} != ''" th:text="${prepaidQR?.hamsterFishTank?.wheel}"></p>
						<p th:unless="${prepaidQR?.hamsterFishTank?.wheel} != ''">No data</p>
					</td>
					<td><p th:if="${prepaidQR?.hamsterFishTank?.houseCleaned} != ''" th:text="${prepaidQR?.hamsterFishTank?.houseCleaned}"></p>
						<p th:unless="${prepaidQR?.hamsterFishTank?.houseCleaned} != ''">No data</p>
					</td>
					<td><p th:if="${prepaidQR?.hamsterFishTank?.rat?.type} != ''" th:text="${rat?.type}"></p>
						<p th:unless="${prepaidQR?.hamsterFishTank?.rat?.type} != ''">No data</p>
					</td>
				</tr>
				<tr class="table-success">
					<td>Hamster breed</td>
					<td>RodentQuantity</td>
					<td>Sex</td>
					<td>Bite</td>
				</tr>
				
				<tr>
					<td><p th:if="${rat?.breed} != ''" th:text="${rat?.breed}"></p>
						<p th:unless="${rat?.breed} != ''"></p>
					</td>
					<td><p th:if="${prepaidQR?.hamsterFishTank?.rodentQuantity} != ''" th:text="${prepaidQR?.hamsterFishTank?.rodentQuantity}"></p>
						<p th:unless="${prepaidQR?.hamsterFishTank?.rodentQuantity} != ''"></p>
					</td>
					<td><p th:if="${rat?.sex} != ''" th:text="${rat?.sex}"></p>
						<p th:unless="${rat?.sex} != ''">No data</p>
					</td>
					<td><p th:if="${rat?.bite} != ''" th:text="${rat?.bite}"></p>
						<p th:unless="${rat?.bite} != ''">No data</p>
					</td>
				</tr>
				<tr class="table-danger">
					<td>Vitamins granted</td>
					<td>Medicated</td>
					<td>Neutered</td>
					<td>Pregnant</td>
				</tr>
				<tr style="border: 1px solid blue">
					<td><p th:if="${rat?.vitamins} != ''" th:text="${rat?.vitamins}"></p>
						<p th:unless="${rat?.vitamins} != ''">No data</p>
							</td>
					<td><p th:if="${rat?.medicated} != ''" th:text="${rat?.medicated}"></p>
						<p th:unless="${rat?.medicated} != ''">No data</p>
							</td>
					<td><p th:if="${rat?.neuteredPet} != ''" th:text="${rat?.neuteredPet}"></p></td>
						<p th:unless="${rat?.neuteredPet} != ''">No data</p>
					<td><p th:if="${rat?.pregnant} != ''" th:text="${rat?.pregnant}"></p>
						<p th:unless="${rat?.pregnant}  != ''">No data</p>
								
							</td>
				</tr>
		</table>
		
		<small style="color:red">Sex, bite, medicated, neutered, and pregnant  aplies only if you have one animal in the container</small>

	</div>
	<!-- Separate The div of the image header to the form native end -->
	
</div>
<!-- End fragment -->

<footer th:replace="default :: footer">
</body>

</html>