
.draggableHC{
    background-color: white;
    height: 78px;
    border: 2px black solid;
    border-radius: 7px;
    color: black;
}

.dropped{
    height: 100px;
}

.containerDraggable{
    color: black;
    background-image: url('../img/paw1.png');
    background-color: lightpink;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 78px;
    border: 2px black solid;
    border-radius: 7px;
}

input:focus{
background-color: pink;
}