#divMainForm{
	width:800px;
}

#dataCreatePrepaidQR{
	padding:10px;
	text-shadow: 2px 2px black;
}



/*  Small devices (landscape phones, 576px and up) */
@media ( max-width : 576px) {
	#divMainForm{
		width:100%;
	}
	
	body {
		width:100%;
		font-size: small !important;
		padding: 2px !important;
		margin: 2px !important;
	}
	h3 {
		font-size: medium; !important;
	}
	
	divContent{
	width: 20% !important;
	font-size: 5px !important;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media ( max-width : 768px) {

	#divMainForm{
		width:100%;
	}
	
	body {
	width:100%;
		font-size: small !important;
		padding: 2px !important;
		margin: 2px !important;
	}
	h3 {
		font-size: medium !important;
	}
	
		divContent{
		width: 20% !important;
	font-size: 5px !important;
	}
}

/*  Large devices (desktops, 992px and up) */
@media ( max-width : 992px) {
	body {
		font-size: medium !important;
		padding: 2px !important;
		margin: 2px !important;
	}
	h3 {
		font-size: medium !important;
	}
	
		divContent{
		width: 20% !important;
	font-size: 5px !important;
	}
}

/*  Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}