body, html {
	height: 100vh !important;
}

#lostPetContainer {
	text-shadow: 1px 2px black;
	background-image: url('../img/tile_pupure.jpg');
	background-repeat: repeat;
	margin: 0 auto;
	box-shadow: 0px 0px 15px black;
	color: white;
	text-align: justify;
	height: 1000px !important;
}

#lostTable {
	color: white;
	border: 2px solid white;
	text-align: center;
}

/*  Small devices (landscape phones, 576px and up) */
@media ( max-width : 576px) {
	#lostPetContainer {
		font-size: small !important;
		text-shadow: 1px 2px black;
		background-image: url('../img/tile_pupure.jpg');
		background-repeat: repeat;
		margin: 0 auto;
		box-shadow: 0px 0px 15px black;
		color: white;
		text-align: justify;
		height: 1300px !important;
	}
	#lostTable {
		color: white;
		border: 2px solid white;
		text-align: center;
		font-size: x-small !important;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media ( max-width : 768px) {
	#lostPetContainer {
		font-size: small !important;
		text-shadow: 1px 2px black;
		background-image: url('../img/tile_pupure.jpg');
		background-repeat: repeat;
		margin: 0 auto;
		box-shadow: 0px 0px 15px black;
		color: white;
		text-align: justify;
		height: 1300px !important;
	}
	#lostTable {
		color: white;
		border: 2px solid white;
		text-align: center;
		font-size: x-small !important;
	}
}

/*  Large devices (desktops, 992px and up) */
@media ( max-width : 992px) {
	#lostPetContainer {
		font-size: small !important;
		text-shadow: 1px 2px black;
		background-image: url('../img/tile_pupure.jpg');
		background-repeat: repeat;
		margin: 0 auto;
		box-shadow: 0px 0px 15px black;
		color: white;
		text-align: justify;
		height: 1300px !important;
	}
	#lostTable {
		color: white;
		border: 2px solid white;
		text-align: center;
		font-size: x-small !important;
	}
}

/*  Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}