#faqMainContainer {
background: -moz-linear-gradient(90deg, PowderBlue 20%, WhiteSmoke 20%, WhiteSmoke 40%, Thistle 40%, Thistle 60%, Lavender 60%, Lavender 80%, LightSteelBlue 80%) !important;
    background: -webkit-linear-gradient(90deg, PowderBlue 20%, WhiteSmoke 20%, WhiteSmoke 40%, Thistle 40%, Thistle 60%, Lavender 60%, Lavender 80%, LightSteelBlue 80%) !important;
    background: linear-gradient(90deg, PowderBlue 20%, WhiteSmoke 20%, WhiteSmoke 40%, Thistle 40%, Thistle 60%, Lavender 60%, Lavender 80%, LightSteelBlue 80%) !important;
	margin: 0 auto;
	box-shadow: 0px 0px 25px black;
	text-align: justify;
	width:80%;
}


.answer {
	display: none;
	padding-left: 30px;
}
