#idMainContent {
	
	box-shadow: 0px 0px 25px black;
	background-image: url('../img/tile_darkblue.jpg');
	background-repeat: repeat;
	margin: 0 auto;
	color: white;
	padding: 20px;
	text-shadow: 0px 0px 3px black;
}

#detaillsDiv {
	margin: 10px;
}

/*  Small devices (landscape phones, 576px and up) */
@media ( max-width : 576px) {
	body {
		font-size: small !important;
	}
	h5 {
		font-size: medium;
		!
		important;
	}
	#idMainContent {
		font-size: small !important;
		box-shadow: 0px 0px 25px black;
		background-image: url('../img/tile_darkblue.jpg');
		background-repeat: repeat;
		margin: 0 auto;
		color: white;
		padding: 1px;
		text-shadow: 0px 0px 3px black;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media ( max-width : 768px) {
	body {
		font-size: x-small !important;
	}
	h5 {
		font-size: medium !important;
	}
		#idMainContent {
		font-size: small !important;
		box-shadow: 0px 0px 25px black;
		background-image: url('../img/tile_darkblue.jpg');
		background-repeat: repeat;
		margin: 0 auto;
		color: white;
		padding: 1px;
		text-shadow: 0px 0px 3px black;
	}
}

/*  Large devices (desktops, 992px and up) */
@media ( max-width : 992px) {
	body {
		font-size: medium !important;
	}
	h5 {
		font-size: medium !important;
	}
		#idMainContent {
		font-size: small !important;
		box-shadow: 0px 0px 25px black;
		background-image: url('../img/tile_darkblue.jpg');
		background-repeat: repeat;
		margin: 0 auto;
		color: white;
		padding: 1px;
		text-shadow: 0px 0px 3px black;
	}
}

/*  Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}