#idMainContent {

/*  	background: -moz-linear-gradient(45deg, #272727 20%, #303030 20%, #303030 40%, #303030 40%, #272727 60%, #272727 60%, #303030 80%, #303030 80%); */
/*     background: -webkit-linear-gradient(45deg, #272727 20%, #303030 20%, #303030 40%, #272727 40%, #272727 60%, #303030 60%, #303030 80%, #272727 80%); */
/*     background: linear-gradient(45deg, #272727 20%, #303030 20%, #303030 40%, #272727 40%, #272727 60%, #303030 60%, #303030 80%, #272727 80%); */
/*     background: url('../img/tile_darklightblue.jpg');	 */


	box-shadow: 0px 0px 25px black;
	margin: 0 auto;
	color: white;
	padding: 20px;
	text-shadow: 0px 0px 3px black;
}

.subtitles{
	color:black;
	text-shadow: none;
	font-weight:bold;
}

.response{
	color:DarkViolet;
	text-shadow: none;
	font-weight:bold;
}

/*  Small devices (landscape phones, 576px and up) */
@media ( max-width : 576px) {
	body {
		font-size: small !important;
	}
	h5 {
		font-size: medium;
		!
		important;
	}
	#idMainContent {
		font-size: small !important;
		box-shadow: 0px 0px 25px black;
		margin: 0 auto;
		color: white;
		padding: 1px;
		text-shadow: 0px 0px 3px black;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media ( max-width : 768px) {
	body {
		font-size: x-small !important;
	}
	h5 {
		font-size: medium !important;
	}
		#idMainContent {
		font-size: small !important;
		box-shadow: 0px 0px 25px black;
		margin: 0 auto;
		color: white;
		padding: 1px;
		text-shadow: 0px 0px 3px black;
	}
}

/*  Large devices (desktops, 992px and up) */
@media ( max-width : 992px) {
	body {
		font-size: medium !important;
	}
	h5 {
		font-size: medium !important;
	}
		#idMainContent {
		font-size: small !important;
		box-shadow: 0px 0px 25px black;
		margin: 0 auto;
		color: white;
		padding: 1px;
		text-shadow: 0px 0px 3px black;
	}
}

/*  Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}