/* @charset "ISO-8859-1"; */
html{
	    position: relative;
		min-height: 100%;
		width: 100%;
}

#footer{
	height: 70px;
	background-color: black;
	position: fixed;
	left: 0;
	width: 100%;
	color: white;
	text-align: left;
	vertical-align: middle;
    bottom: 0;
}

.logout{
	margin-top: 5px;
	float: right;
	margin-right: 10px;
	color:white;
}

#logo{
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#subtitle_footer{
	margin-top: 10px;
	margin-left: 10px;
}


body {
	height: 100%;
	margin: 0;
	font-family: 'Mali', cursive;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	background: url("../img/bg_tile.gif");
	background-repeat: repeat;
	/* background: linear-gradient(90deg, skyblue, transparent),
		linear-gradient(-90deg, coral, transparent); */
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: black; /* #333 best color */ 
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
	color: lightblue;
}

#carouselExampleControls {
text-shadow: 0px 0px 4px #000000;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
	display: block;
	padding: 0px;
	margin: 0px;
}

#firstBody {
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#infoDiv {
	color:white;
	padding: 10px;
	background-image: url('../img/tile_darkblue.jpg');
	background-repeat: repeat;
	text-align: justify;
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
	text-shadow: 0px 0px 5px black;
}

a:link {
	color: coral;
}

#divMainForm{
	box-shadow: 0px 0px 15px black;
	color:white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
	width:600px;
	margin: auto;
	background:url("../img/tile_darkblue.jpg");
	padding:25px
}

.imageCarousel{
	padding-top:5px;
	border-radius: 15px;
}

#divFormMolokoAccess{
	background-image: url('../img/tile_coral.jpg') ;
	margin: 25px;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0px 0px 15px black;
}

.droplink {

}

hr{
	border: 1px solid red;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	color:white;
    display: none;
    position: fixed;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background-color: #333;}

.dropdown:hover .dropdown-content {display: inline-block; color: white;}

.dropdown:hover .droplink {	background-color: #333; color: lightblue;}