/* @charset "ISO-8859-1"; */
html, body {
	/* 	position: relative; */
	height: 100%;
	height: 100vh;
	width: 100%;
}

#triangleTopLeftIndex {
	width: 0;
	height: 0;
	border-top: 200px solid rgb(32, 32, 32); /* #7A52A7 */
	border-right: 200px solid transparent;
	position: absolute;
}

#footer { //
	height: 70px;
	background-color: black;
	position: fixed;
	left: 0;
	width: 100%;
	color: white;
	text-align: left;
	vertical-align: middle;
	bottom: 0;
}

.imageRounded {
	border-radius: 7px 7px 7px 7px;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Mali', cursive !important;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) !important;
	background: url("../img/bg_tile.gif");
	background-repeat: repeat;
}

#carouselExampleControls {
	text-shadow: 0px 0px 4px black;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
	display: block;
	padding: 0px;
	margin: 0px;
	text-shadow: 1px 1px #5b3f83;
	color: white;
	font-weight: bold;
}

#firstBody {
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#infoDiv {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	/* 	background-image: url('../img/tile_pupure.jpg'); */
	background-repeat: repeat;
	text-align: justify;
	box-shadow: 0px 0px 10px black;
	text-shadow: 1px 2px black;
}

.transparencyWithoutPadding {
	background: rgba(0, 0, 0, 0.5) !important;
	border-radius: 10px !important;
}

#divMainForm {
	box-shadow: 0px 0px 15px black;
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
	margin: auto;
	background: url("../img/tile_pupure.jpg");
	padding: 25px;
}

.imageCarousel {
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px -25px black;
}

hr {
	border: 1px solid red !important;
}

#navigationBar {
	color: white;
	background-color: black;
}

a {
	color: white;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: violet !important;
}

#banner1 {
	color: white;
	float: left;
	text-shadow: 2px 2px black;
	text-align: justify;
	padding-top: 25px;
	display: inline-block
}

.flex-container {
	width: 90%;
	min-height: 300px;
	margin: 0 auto;
	display: -webkit-flex; /* Safari */
	display: flex; /* Standard syntax */
}

/*  Small devices (landscape phones, 576px and up) */
@media ( max-width : 576px) {
	
	#triangleTopLeftIndex {
		display: none !important;
	}
	#indexMasterDiv {
		display: none;
	}
	#masterDivMobile {
		display: block;
	}
	#carouselExampleControls {
		
	}
	body {
		
	}
	h3 {
		font-size: medium !important;
	}
	#infoDiv {
		font-size: small !important;
	}
	#footer { //
		height: 70px !important;
		background-color: black;
		position: relative;
		left: 0;
		width: 100%;
		color: white;
		text-align: left;
		vertical-align: middle;
		bottom: 0;
	}
	#navigationBar {
		font-size: small !important;
	}
	#divAgeCreated {
		display: none;
	}
	#footerBrand {
		font-size: x-small;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media ( max-width : 768px) {
	
	#indexMasterDiv {
		display: none;
	}
	#masterDivMobile {
		display: block !important;
	}
	body {
		
	}
	h3 {
		font-size: medium !important;
	}
	#infoDiv {
		font-size: small !important;
	}
	#footer { //
		height: 70px;
		background-color: black;
		position: relative;
		left: 0;
		width: 100%;
		color: white;
		text-align: left;
		vertical-align: middle;
		bottom: 0;
	}
	#navigationBar {
		font-size: small !important;
	}
}

/*  Large devices (desktops, 992px and up) */
@media ( max-width : 992px) {
	h3 {
		font-size: medium !important;
	}
	#infoDiv {
		font-size: small !important;
	}
	#footer { //
		height: 70px;
		background-color: black;
		position: relative;
		left: 0;
		width: 100%;
		color: white;
		text-align: left;
		vertical-align: middle;
		bottom: 0;
	}
	#navigationBar {
		font-size: small !important;
	}
}

/*  Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}