/*  Small devices (landscape phones, 576px and up) */
@media ( max-width : 576px) {
	#prepaidQrFormDiv {
		width: 100% !important;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media ( max-width : 768px) {
	#prepaidQrFormDiv {
		width: 100% !important;
	}
}

/*  Large devices (desktops, 992px and up) */
@media ( max-width : 992px) {
	#prepaidQrFormDiv {
		width: 100% !important;
	}
}

/*  Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}