
#container{
    background-image: url('../img/tile_darkblue.jpg');
    background-repeat: repeat;
    color:white;
    text-shadow: 0px 0px 2px black;
    margin: 0 auto;
}

.column{
    padding:10px;
    text-align: center;
    float:left;
}

.rowPadding {
	padding: 10px;
}

.qrImages{
	border-radius:7px;
}

.moreInfo{
	font-size:16px !important;
	margin-bottom:5px !important;
}

.transparency{
	margin-top: 10px;
    background:rgba(0,0,0,0.5);
    border-radius: 10px;
}

.imgSelected{
	box-shadow: 0px 0px 30px violet;
}

.buttons{
margin: 10px;
}

/*  Small devices (landscape phones, 576px and up) */
@media ( max-width : 576px) {
	body {
		font-size: small !important;
		padding: 2px !important;
		margin: 2px !important;
	}
	h3 {
		font-size: medium; !important;
	}
}

/*  Medium devices (tablets, 768px and up) */
@media ( max-width : 768px) {
	body {
		font-size: small !important;
		padding: 2px !important;
		margin: 2px !important;
	}
	h3 {
		font-size: medium !important;
	}
}

/*  Large devices (desktops, 992px and up) */
@media ( max-width : 992px) {
	body {
		font-size: medium !important;
		padding: 2px !important;
		margin: 2px !important;
	}
	h3 {
		font-size: medium !important;
	}
}

/*  Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
}


