
#container{
    background-image: url('../img/tile_darkblue.jpg');
    background-repeat: repeat;
    color:white;
    text-shadow: 0px 0px 2px black;

}

.column{
    padding:30px;
    text-align: center;
    border: 3px gray solid;
}

.row1{
padding: 10px;
}

.row2{
padding: 10px;
}

.row3{
padding: 10px;    
}

.row4{
padding: 10px;    
}

.row5{
padding: 10px;    
}

.transparency{
    background:rgba(0,0,0,0.5);
    border-radius: 10px;
}

.buttons{
margin: 10px;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}